Repository scikit-hep/pyhf, pull requests merged in 2019-07, with the labels that each got.

#499 Correct mismatch in names between example and text
  docs/likelihood.rst
Labels: bug, docs

#505 Update interpolators and add patch functionality to json2xml
  pyhf/commandline.py
  pyhf/interpolators/__init__.py
  pyhf/interpolators/codex.py
  pyhf/modifiers/histosys.py
  pyhf/pdf.py
  tests/test_scripts.py
Labels: enhancement

#513 Use src directory for project directory structure
  .bumpversion.cfg
  .travis.yml
  MANIFEST.in
  docs/Makefile
  docs/conf.py
  docs/examples/notebooks/ShapeFactor.ipynb
  docs/examples/notebooks/XML_ImportExport.ipynb
  docs/examples/notebooks/binderexample/StatisticalAnalysis.ipynb
  docs/examples/notebooks/histogrammar.ipynb
  docs/examples/notebooks/multichannel-coupled-histo.ipynb
  docs/likelihood.rst
  docs/schemas
  setup.py
  src/pyhf/__init__.py
  src/pyhf/commandline.py
  src/pyhf/constraints.py
  src/pyhf/events.py
  src/pyhf/exceptions/__init__.py
  src/pyhf/interpolators/__init__.py
  src/pyhf/interpolators/code0.py
  src/pyhf/interpolators/code1.py
  src/pyhf/interpolators/code2.py
  src/pyhf/interpolators/code4.py
  src/pyhf/interpolators/code4p.py
  src/pyhf/modifiers/__init__.py
  src/pyhf/modifiers/histosys.py
  src/pyhf/modifiers/lumi.py
  src/pyhf/modifiers/normfactor.py
  src/pyhf/modifiers/normsys.py
  src/pyhf/modifiers/shapefactor.py
  src/pyhf/modifiers/shapesys.py
  src/pyhf/modifiers/staterror.py
  src/pyhf/optimize/__init__.py
  src/pyhf/optimize/opt_minuit.py
  src/pyhf/optimize/opt_pytorch.py
  src/pyhf/optimize/opt_scipy.py
  src/pyhf/optimize/opt_tflow.py
  src/pyhf/paramsets.py
  src/pyhf/pdf.py
  src/pyhf/readxml.py
  src/pyhf/schemas/1.0.0/defs.json
  src/pyhf/schemas/1.0.0/measurement.json
  src/pyhf/schemas/1.0.0/model.json
  src/pyhf/schemas/1.0.0/workspace.json
  src/pyhf/schemas/HistFactorySchema.dtd
  src/pyhf/simplemodels.py
  src/pyhf/tensor/__init__.py
  src/pyhf/tensor/mxnet_backend.py
  src/pyhf/tensor/numpy_backend.py
  src/pyhf/tensor/pytorch_backend.py
  src/pyhf/tensor/tensorflow_backend.py
  src/pyhf/utils.py
  src/pyhf/version.py
  src/pyhf/writexml.py
Labels: enhancement, schema and spec

#515 Apply recommended changes for CodeFactor issues
  src/pyhf/exceptions/__init__.py
  src/pyhf/interpolators/code4.py
  src/pyhf/modifiers/__init__.py
  src/pyhf/modifiers/histosys.py
  src/pyhf/modifiers/normsys.py
  src/pyhf/paramsets.py
  src/pyhf/pdf.py
  src/pyhf/tensor/mxnet_backend.py
  src/pyhf/tensor/pytorch_backend.py
  src/pyhf/tensor/tensorflow_backend.py
  src/pyhf/writexml.py
  tests/test_import.py
  tests/test_modifiers.py
  tests/test_validation.py
  validation/shared_nuispar_across_types/make_data.py
Labels: tests

#516 Add tests for combined modifiers
  .travis.yml
  README.md
  src/pyhf/modifiers/histosys.py
  src/pyhf/modifiers/lumi.py
  src/pyhf/modifiers/normfactor.py
  src/pyhf/modifiers/normsys.py
  src/pyhf/modifiers/shapefactor.py
  src/pyhf/modifiers/shapesys.py
  tests/conftest.py
  tests/test_combined_modifiers.py
Labels: CI, tests

#521 Add SciPy 2019 poster BibTeX information
  docs/bib/posters.bib
Labels: docs
