Repository scikit-hep/pyhf, pull requests merged in 2019-06, with the labels that each got.

#483 Ensure inputs to tensor backend einsum test are tensors
  setup.py
  tests/test_tensor.py
Labels: bug

#484 Use updated TensorFlow names for math operations
  pyhf/tensor/tensorflow_backend.py
Labels: enhancement

#481 Update MANIFEST.in with correct schema paths
  .travis.yml
  MANIFEST.in
  pyproject.toml
  setup.py
Labels: bug

#487 Use curl -L to have trigger_binder follow URL redirect
  binder/trigger_binder.sh
Labels: Binder

#480 Flesh out base documentation with introduction/background/details
  .readthedocs.yml
  docs/bib/docs.bib
  docs/conf.py
  docs/index.rst
  docs/intro.rst
  docs/likelihood.rst
Labels: docs

#488 Update workspace specification to use 'observations' instead of 'data'
  docs/examples/notebooks/binderexample/StatisticalAnalysis.ipynb
  docs/likelihood.rst
  pyhf/pdf.py
  pyhf/readxml.py
  pyhf/schemas/1.0.0/defs.json
  pyhf/schemas/1.0.0/workspace.json
  pyhf/writexml.py
  tests/test_export.py
  tests/test_import.py
  tests/test_validation.py
  tests/test_workspace.py
Labels: docs, enhancement, schema and spec

#490 Fix toy example of spec in docs and render parts of schema in docs from file
  docs/likelihood.rst
  examples/2-bin_1-channel.json
  tests/test_examples.py
  tests/test_workspace.py
Labels: bug, docs

#491 Simplify Travis CI with use of Xenial distribution and update package dependencies
  .travis.yml
  pyhf/tensor/mxnet_backend.py
  pyhf/tensor/numpy_backend.py
  pyhf/tensor/pytorch_backend.py
  pyhf/tensor/tensorflow_backend.py
  pyhf/utils.py
  setup.py
Labels: CI, enhancement

#492 Always test the docs on docs branches
  .travis.yml
Labels: CI, docs, tests

#493 Trigger Binder builds on both GKE and OVH clusters
  .travis.yml
Labels: Binder, CI

#497 Add learn notebooks and split up notebook tests
  docs/examples/notebooks/learn/InterpolationCodes.ipynb
  docs/examples/notebooks/learn/TensorizingInterpolations.ipynb
  docs/index.rst
  docs/learn.rst
  docs/likelihood.rst
  tests/test_notebooks.py
Labels: docs

#498 Fix the typo fix in the docs
  docs/likelihood.rst
Labels: docs
