Repository scikit-hep/pyhf, pull requests merged in 2020-10, with the labels that each got.

#953 feat: Add test inversion / interval inference API
  docs/api.rst
  src/pyhf/infer/intervals.py
  tests/test_infer.py
Labels: API, feat/enhancement, tests

#1093 docs: Remove fixed parameters caveat for TRexFitter in babel
  docs/babel.rst
Labels: docs

#1095 docs: Add contributors to website
  CONTRIBUTING.md
  docs/contributors.rst
  docs/index.rst
Labels: community, docs

#1047 fix: Avoid deprecation warnings due to invalid escape sequences
  docs/contributors.rst
  src/pyhf/infer/calculators.py
Labels: fix

#1046 feat: Add API to download likelihood patchset archives
  docs/api.rst
  setup.py
  src/pyhf/cli/__init__.py
  src/pyhf/cli/cli.py
  src/pyhf/cli/contrib.py
  src/pyhf/contrib/utils.py
  src/pyhf/exceptions/__init__.py
  tests/test_scripts.py
Labels: API, CLI, docs, feat/enhancement

#1091 docs: Add CodeMeta JSON-LD Context File
  .bumpversion.cfg
  .github/workflows/release_tests.yml
  .zenodo.json
  codemeta.json
  docs/development.rst
  pyproject.toml
  setup.cfg
  setup.py
Labels: build, docs

#1105 fix: Remove improper defaults for contrib download
  src/pyhf/cli/contrib.py
Labels: contrib, fix

#1109 docs: Use 1Lbb DOI in contrib download docstring
  src/pyhf/cli/contrib.py
Labels: docs

#1104 fix: Import all infer submodules
  src/pyhf/infer/__init__.py
  src/pyhf/infer/intervals.py
  tests/test_infer.py
Labels: fix

#1101 feat: Add pyhf.workspace.build
  src/pyhf/exceptions/__init__.py
  src/pyhf/mixins.py
  src/pyhf/utils.py
  src/pyhf/workspace.py
  tests/test_workspace.py
Labels: API, feat/enhancement, tests

#1110 refactor: Rename paramset.fixed to paramset.suggested_fixed
  src/pyhf/parameters/paramsets.py
  src/pyhf/pdf.py
  src/pyhf/workspace.py
  tests/test_paramsets.py
Labels: API, refactor

#1113 docs: Add importance of Issues to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

#1119 refactor: Migrate contrib download to contrib module
  src/pyhf/cli/__init__.py
  src/pyhf/cli/cli.py
  src/pyhf/contrib/cli.py
  src/pyhf/contrib/utils.py
  tests/test_scripts.py
Labels: contrib, docs, refactor

#1120 ci: Make docs separate workflow
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  README.rst
Labels: CI, docs

#1088 feat: Merge channel functionality in pyhf combine
  src/pyhf/cli/spec.py
  src/pyhf/workspace.py
  tests/test_scripts.py
  tests/test_workspace.py
Labels: API, CLI, feat/enhancement

#1122 docs: Use sphinx obj scope in docs by default
  src/pyhf/__init__.py
  src/pyhf/constraints.py
  src/pyhf/contrib/utils.py
  src/pyhf/infer/__init__.py
  src/pyhf/infer/calculators.py
  src/pyhf/infer/intervals.py
  src/pyhf/infer/mle.py
  src/pyhf/infer/test_statistics.py
  src/pyhf/modifiers/__init__.py
  src/pyhf/optimize/common.py
  src/pyhf/optimize/mixins.py
  src/pyhf/optimize/opt_jax.py
  src/pyhf/optimize/opt_minuit.py
  src/pyhf/optimize/opt_numpy.py
  src/pyhf/optimize/opt_pytorch.py
  src/pyhf/optimize/opt_tflow.py
  src/pyhf/patchset.py
  src/pyhf/pdf.py
  src/pyhf/probability.py
  src/pyhf/simplemodels.py
  src/pyhf/tensor/jax_backend.py
  src/pyhf/tensor/numpy_backend.py
  src/pyhf/tensor/pytorch_backend.py
  src/pyhf/tensor/tensorflow_backend.py
  src/pyhf/utils.py
  src/pyhf/workspace.py
Labels: docs

#1124 fix: Use functools.wraps with events.register to render docstrings
  src/pyhf/events.py
Labels: docs, fix

#1126 fix: Validate fit initialization parameters
  src/pyhf/infer/mle.py
  tests/test_infer.py
Labels: fix, tests

#1128 fix: Logic bug for outer joins of merge channels
  src/pyhf/workspace.py
  tests/test_workspace.py
Labels: fix, tests

#1132 fix: Make workspaces immutable
  src/pyhf/workspace.py
  tests/test_workspace.py
Labels: fix, tests

#1125 fix: Fixed parameter naming for compatibility with ROOT import/export
  docs/conf.py
  src/pyhf/readxml.py
  src/pyhf/utils.py
  src/pyhf/writexml.py
  tests/test_export.py
  tests/test_import.py
  tests/test_scripts.py
  tests/test_utils.py
Labels: fix

#1130 chore: Add file types for diff to .gitattributes
  .gitattributes
Labels: chore

#1134 fix: Use JAX v0.2.4+ API
  setup.py
  src/pyhf/tensor/jax_backend.py
  tests/test_probability.py
Labels: build, fix, tests

#1135 style: Adopt new JAX style of np and jnp
  src/pyhf/tensor/jax_backend.py
Labels: style

#1136 feat: Support ShapeFactor for import/export
  src/pyhf/readxml.py
  src/pyhf/writexml.py
  tests/test_export.py
  tests/test_import.py
Labels: feat/enhancement, tests

#1139 chore: Migrate to new way to set environment variables in GHA
  .github/workflows/tag.yml
Labels: CI, bumpversion/patch, chore

#1147 feat: Tensorlib ravel functionality
  src/pyhf/tensor/jax_backend.py
  src/pyhf/tensor/numpy_backend.py
  src/pyhf/tensor/pytorch_backend.py
  src/pyhf/tensor/tensorflow_backend.py
  tests/test_tensor.py
Labels: API, feat/enhancement, tests

#1114 feat: Update model and inference defaults
  src/pyhf/cli/infer.py
  src/pyhf/infer/__init__.py
  src/pyhf/infer/calculators.py
  src/pyhf/infer/test_statistics.py
  src/pyhf/pdf.py
  tests/test_validation.py
Labels: API, docs, feat/enhancement, refactor

#790 feat: Add toy calculator, empirical distribution, and toy example notebook
  docs/api.rst
  docs/examples/notebooks/img/1007.1727.fig5.png
  docs/examples/notebooks/toys.ipynb
  src/pyhf/cli/infer.py
  src/pyhf/infer/__init__.py
  src/pyhf/infer/calculators.py
  src/pyhf/infer/utils.py
  tests/test_infer.py
  tests/test_notebooks.py
Labels: API, docs, feat/enhancement, tests
