Repository scikit-hep/pyhf, pull requests merged in 2020-03, with the labels that each got.

#779 docs: Add Zenodo metadata config file
  .bumpversion.cfg
  .zenodo.json
Labels: docs

#778 docs: Add list of media publications and make 'outreach' page
  docs/bib/media.bib
  docs/index.rst
  docs/outreach.rst
Labels: docs

#781 docs: Add published HEPData likelihoods to Use and Citations page
  docs/bib/HEPData_likelihoods.bib
  docs/citations.rst
Labels: docs

#782 docs: Add FAQ on how to typeset "pyhf"
  docs/faq.rst
Labels: docs

#768 test: Add test of independence of pyhf.infer from pyhf details
  tests/test_infer.py
Labels: tests

#748 feat: Add GPU enabled Dockerfile
  .dockerignore
  docker/gpu/Dockerfile
  docker/gpu/install_backend.sh
Labels: feat/enhancement

#766 fix: Uncorrelated shape systematic with proper masking
  src/pyhf/modifiers/shapesys.py
  src/pyhf/pdf.py
Labels: bumpversion/patch, fix, follow up, help wanted, perf

#786 docs: Add MadMiner citation
  docs/bib/use_citations.bib
Labels: docs

#788 fix: Remove unneeded directory slash in .dockerignore
  .dockerignore
Labels: fix

#789 fix: Removes invalid property in .zenodo.json
  .zenodo.json
Labels: chore, fix

#750 feat: Add AsymptoticCalculator
  docs/api.rst
  src/pyhf/infer/__init__.py
  src/pyhf/infer/calculators.py
  src/pyhf/infer/utils.py
  tests/test_infer.py
  tests/test_validation.py
Labels: API, docs, feat/enhancement

#791 docs: Fix MANIFEST and put schemas back in documentation
  .github/workflows/ci.yml
  MANIFEST.in
  docs/_extras/schemas
  docs/conf.py
  docs/schemas
Labels: build, chore, docs, fix

#793 chore: Clean up schemas and fix typos in docs about schemas
  src/pyhf/schemas/1.0.0/defs.json
  src/pyhf/schemas/1.0.0/measurement.json
  src/pyhf/schemas/1.0.0/model.json
  src/pyhf/schemas/1.0.0/workspace.json
  src/pyhf/workspace.py
Labels: chore, docs, schema and spec

#795 chore: Use Debian based python:3.7-slim as base Docker image
  .github/workflows/ci.yml
  docker/Dockerfile
Labels: CI, build, chore

#799 build: Remove dependency on six package
  setup.py
  src/pyhf/modifiers/__init__.py
Labels: build

#804 refactor: Use _TensorViewer in ParamViewer
  src/pyhf/parameters/paramview.py
  src/pyhf/pdf.py
  src/pyhf/tensor/common.py
  tests/conftest.py
  tests/test_paramviewer.py
  tests/test_regression.py
  tests/test_tensorviewer.py
Labels: refactor, tests

#798 refactor: Use pathlib over os.path for path
  docs/conf.py
  docs/examples/notebooks/binderexample/StatisticalAnalysis.ipynb
  docs/examples/notebooks/example-tensorflow.ipynb
  setup.py
  src/pyhf/cli/rootio.py
  src/pyhf/readxml.py
  src/pyhf/utils.py
  src/pyhf/writexml.py
  tests/test_import.py
  tests/test_validation.py
Labels: refactor, tests

#802 fix: Set correct workspace.version upon loading a workspace
  src/pyhf/workspace.py
  tests/test_workspace.py
Labels: fix, tests

#721 docs: Add copy buttons to code snippets in docs with sphinx-copybutton
  docs/conf.py
  setup.py
Labels: docs

#794 chore: Avoid mutable defaults
  docs/exts/xref.py
  src/pyhf/workspace.py
Labels: chore

#809 docs: Add citation from Run 2 Reinterpretation of LHC Results paper
  docs/bib/use_citations.bib
Labels: docs

#808 ci: Use official Docker GitHub Action for publication to Docker Hub
  .github/workflows/publish-docker.yml
Labels: CI, Docker

#812 ci: Use the same Docker workflow for testing as publication
  .github/workflows/ci.yml
  .github/workflows/publish-docker.yml
Labels: CI, Docker, fix
