Repository scikit-hep/pyhf, pull requests merged in 2020-09, with the labels that each got.

#1050 feat: Prune/Rename raise errors if item name not in workspace
  src/pyhf/workspace.py
  tests/test_workspace.py
Labels: feat/enhancement, fix, tests

#1053 fix: Sync SciPy minimizer initialized parameter values with fixed values
  README.rst
  src/pyhf/infer/__init__.py
  src/pyhf/optimize/opt_scipy.py
  tests/test_optim.py
  tests/test_regression.py
  tests/test_validation.py
Labels: fix, tests

#1054 fix: Step sizes for fixed parameters in minuit should be 0.0
  src/pyhf/optimize/opt_minuit.py
  tests/test_optim.py
Labels: fix, tests

#1055 docs: Add SModelS paper to citations list
  docs/bib/use_citations.bib
Labels: docs

#1051 feat: Support configuring fixed values automatically from Model
  docs/examples/notebooks/ImpactPlot.ipynb
  docs/examples/notebooks/pullplot.ipynb
  src/pyhf/infer/__init__.py
  src/pyhf/infer/calculators.py
  src/pyhf/infer/mle.py
  src/pyhf/infer/test_statistics.py
  tests/test_backend_consistency.py
  tests/test_infer.py
  tests/test_scripts.py
  tests/test_teststats.py
Labels: API, bumpversion/patch, feat/enhancement, tests

#1049 feat: Bump to modern pytest (6.0+)
  docs/governance/ROADMAP.rst
  pyproject.toml
  pytest.ini
  setup.py
  tests/conftest.py
  tests/test_teststats.py
  tests/test_validation.py
Labels: chore, docs, feat/enhancement, tests

#1061 feat: Add erf and erfinv to tensorlib
  src/pyhf/tensor/jax_backend.py
  src/pyhf/tensor/numpy_backend.py
  src/pyhf/tensor/pytorch_backend.py
  src/pyhf/tensor/tensorflow_backend.py
  tests/test_tensor.py
Labels: API, feat/enhancement, tests

#1060 feat: Add fit to infer CLI API
  src/pyhf/cli/cli.py
  src/pyhf/cli/infer.py
  tests/test_scripts.py
Labels: API, CLI, feat/enhancement, tests

#1063 refactor: Remove unused fixtures, refactor validation tests
  tests/test_validation.py
  validation/data/1bin_lumi.json
  validation/data/1bin_normsys.json
Labels: refactor, tests

#1066 chore: Migrate from pep517 to python-build
  .github/workflows/publish-package.yml
Labels: CI, chore, packaging

#1070 fix: Restrict iminuit to v1.4.X releases
  setup.py
Labels: fix

#1071 ci: Add nightly tests using HEAD of dependencies
  .github/workflows/dependencies-head.yml
Labels: CI, tests

#1074 chore: Update GitHub Action releases and Python runtimes in CI
  .github/workflows/ci.yml
  .github/workflows/publish-package.yml
  .github/workflows/release_tests.yml
  .github/workflows/tag.yml
Labels: chore

#1076 ci: Add workflow dispatch support
  .github/workflows/ci.yml
  .github/workflows/dependencies-head.yml
  .github/workflows/lint.yml
  .github/workflows/merged.yml
  .github/workflows/publish-docker.yml
  .github/workflows/publish-package.yml
  .github/workflows/release_tests.yml
Labels: CI

#1078 ci: Add workflow for nightly tests of notebooks
  .github/workflows/ci.yml
  .github/workflows/notebooks.yml
Labels: CI

#1079 docs: Add information on announcement mailing list
  README.rst
  docs/conf.py
  docs/faq.rst
Labels: community, docs

#1081 docs: Add citations from 2019 and 2020 papers
  docs/bib/use_citations.bib
Labels: docs

#1083 chore: Migrate from bumpversion to bump2version
  .github/workflows/tag.yml
  docs/development.rst
  setup.py
Labels: chore, deployment, docs

#1084 test: Ensure continuous approximation of Poisson implemented
  tests/test_tensor.py
Labels: tests
