Repository scikit-hep/pyhf, pull requests merged in 2020-08, with the labels that each got.

#989 feat: Bookkeep fixed parameters
  src/pyhf/modifiers/histosys.py
  src/pyhf/modifiers/lumi.py
  src/pyhf/modifiers/normfactor.py
  src/pyhf/modifiers/normsys.py
  src/pyhf/modifiers/shapefactor.py
  src/pyhf/modifiers/shapesys.py
  src/pyhf/modifiers/staterror.py
  src/pyhf/parameters/paramsets.py
  src/pyhf/parameters/utils.py
  src/pyhf/pdf.py
  tests/test_combined_modifiers.py
  tests/test_constraints.py
  tests/test_paramsets.py
  tests/test_pdf.py
  tests/test_schema.py
Labels: feat/enhancement, tests

#1005 refactor: Factor out tmu-like and qmu-like test statistics
  docs/api.rst
  src/pyhf/infer/calculators.py
  src/pyhf/infer/test_statistics.py
  tests/test_backend_consistency.py
  tests/test_teststats.py
Labels: bumpversion/patch, docs, refactor, tests

#1020 docs: Add citation in Higgs boson potential at colliders paper
  docs/bib/use_citations.bib
Labels: docs

#1016 docs: Make all examples in README full examples
  README.rst
  docs/_static/img/README_1bin_example.png
  docs/_static/img/README_2bin_example.png
  docs/_static/img/hfh_2_bin_100.0_145.0_100.0_150.0_15.0_20.0_30.0_45.0.png
  docs/_static/img/manual_1bin_55_50_7.png
  docs/_static/img/manual_2_bin_100.0_145.0_100.0_150.0_15.0_20.0_30.0_45.0.png
Labels: docs

#1022 docs: Add NSF award badge for Throughput project tracking
  README.rst
Labels: docs

#1028 fix: Tensorflow tile tensor backend feature parity
  src/pyhf/tensor/tensorflow_backend.py
  tests/test_tensor.py
Labels: fix, tests

#731 feat: Add return_by_sample to expected_data API
  src/pyhf/pdf.py
  tests/test_pdf.py
  tests/test_tensor.py
Labels: API, feat/enhancement, tests

#944 refactor: Make hypotest return CLs as 0-d tensor
  README.rst
  docs/examples/notebooks/hello-world.ipynb
  src/pyhf/cli/infer.py
  src/pyhf/infer/__init__.py
  tests/test_infer.py
  tests/test_regression.py
  tests/test_validation.py
Labels: API, docs, tests

#905 docs: Extend infer docstrings with mathematical examples
  docs/api.rst
  src/pyhf/infer/__init__.py
  src/pyhf/infer/calculators.py
  src/pyhf/infer/mle.py
  src/pyhf/infer/test_statistics.py
Labels: docs

#1014 docs: Add learn notebook on test statistics
  docs/examples.rst
  docs/examples/notebooks/learn/TestStatistics.ipynb
Labels: docs

#1035 fix: Weakly reference callables for pub-sub model
  src/pyhf/events.py
  tests/test_events.py
  tests/test_interpolate.py
  tests/test_tensor.py
Labels: fix

#1038 fix: Tensor conversion for expected aux and actual data
  src/pyhf/pdf.py
  tests/test_pdf.py
Labels: fix, tests

#1042 feat: Add pyhf.Workspace.sorted to give ability to sort Workspace
  src/pyhf/cli/cli.py
  src/pyhf/cli/spec.py
  src/pyhf/workspace.py
  tests/test_scripts.py
  tests/test_workspace.py
Labels: API, CLI, docs, feat/enhancement, tests

#1048 style: Update to Black v20.8 formatting
  .pre-commit-config.yaml
  docs/development.rst
  src/pyhf/cli/patchset.py
  src/pyhf/cli/spec.py
  src/pyhf/constraints.py
  src/pyhf/modifiers/histosys.py
  src/pyhf/modifiers/lumi.py
  src/pyhf/modifiers/normfactor.py
  src/pyhf/modifiers/normsys.py
  src/pyhf/modifiers/shapefactor.py
  src/pyhf/modifiers/shapesys.py
  src/pyhf/optimize/mixins.py
  src/pyhf/parameters/paramview.py
  src/pyhf/pdf.py
  src/pyhf/tensor/common.py
  src/pyhf/tensor/tensorflow_backend.py
  src/pyhf/writexml.py
  tests/conftest.py
  tests/test_backend_consistency.py
  tests/test_combined_modifiers.py
  tests/test_infer.py
  tests/test_optim.py
  tests/test_patchset.py
  tests/test_pdf.py
  tests/test_schema.py
  tests/test_scripts.py
  tests/test_tensor.py
  tests/test_tensorviewer.py
Labels: chore, docs, style
