Repository scikit-hep/pyhf, pull requests merged in 2020-11, with the labels that each got.

#1165 feat: Add nbQA to pre-commit hooks
  .pre-commit-config.yaml
  docs/examples/experiments/edwardpyhf.ipynb
  docs/examples/notebooks/ImpactPlot.ipynb
  docs/examples/notebooks/Recast.ipynb
  docs/examples/notebooks/ShapeFactor.ipynb
  docs/examples/notebooks/StatError.ipynb
  docs/examples/notebooks/binderexample/StatisticalAnalysis.ipynb
  docs/examples/notebooks/example-tensorflow.ipynb
  docs/examples/notebooks/hello-world.ipynb
  docs/examples/notebooks/histogrammar.ipynb
  docs/examples/notebooks/histosys-pytorch.ipynb
  docs/examples/notebooks/histosys.ipynb
  docs/examples/notebooks/importxml.ipynb
  docs/examples/notebooks/learn/InterpolationCodes.ipynb
  docs/examples/notebooks/learn/TensorizingInterpolations.ipynb
  docs/examples/notebooks/learn/TestStatistics.ipynb
  docs/examples/notebooks/multiBinPois.ipynb
  docs/examples/notebooks/multichannel-coupled-histo.ipynb
  docs/examples/notebooks/multichannel-coupled-normsys.ipynb
  docs/examples/notebooks/multichannel-normsys.ipynb
  docs/examples/notebooks/normsys.ipynb
  docs/examples/notebooks/pullplot.ipynb
  docs/examples/notebooks/pytorch_tests_onoff.ipynb
  docs/examples/notebooks/tensorflow-limit.ipynb
  pyproject.toml
Labels: chore, docs, feat/enhancement

#1167 fix: Pin additional dependencies in pre-commit hooks
  .pre-commit-config.yaml
  docs/contributors.rst
Labels: fix

#1176 feat: Add default axis labels to contrib.viz.brazil.plot_results
  src/pyhf/contrib/viz/brazil.py
  tests/contrib/baseline/test_brazil.png
Labels: contrib, docs, feat/enhancement, fix, visualization

#1179 fix: Ensure float-like values used in division in writexml
  src/pyhf/writexml.py
  tests/test_export.py
  tests/test_export/workspace_integer_data.json
Labels: fix, tests

#1181 docs: Add ATLAS SUSY+Exotics Tutorial
  docs/bib/tutorials.bib
Labels: docs

#1183 feat: Set minuit strategy automatically for gradient/non-gradient mode
  src/pyhf/optimize/opt_minuit.py
  tests/test_optim.py
Labels: API, feat/enhancement, optimization, tests

#1185 docs: Add CHEP 2019 proceedings use citation
  docs/bib/use_citations.bib
Labels: docs

#1184 feat: Configurable optimizer tolerance for termination
  src/pyhf/optimize/opt_minuit.py
  src/pyhf/optimize/opt_scipy.py
  tests/test_optim.py
Labels: API, feat/enhancement, optimization, tests

#1186 fix: Isolate pyhf contrib commands from rest of CLI
  src/pyhf/contrib/cli.py
  tests/test_scripts.py
Labels: CLI, contrib, fix

#1189 refactor: Drop 'modifier' from parameter set requirements
  src/pyhf/modifiers/histosys.py
  src/pyhf/modifiers/lumi.py
  src/pyhf/modifiers/normfactor.py
  src/pyhf/modifiers/normsys.py
  src/pyhf/modifiers/shapefactor.py
  src/pyhf/modifiers/shapesys.py
  src/pyhf/modifiers/staterror.py
Labels: refactor

#1192 fix: Use uproot3 namespace
  setup.py
  src/pyhf/cli/rootio.py
  src/pyhf/readxml.py
  src/pyhf/writexml.py
  tests/test_import.py
Labels: fix

#1191 chore: Use flake8 for linting
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  setup.cfg
  setup.py
  src/pyhf/contrib/cli.py
  src/pyhf/infer/__init__.py
  src/pyhf/infer/utils.py
  src/pyhf/optimize/opt_minuit.py
  src/pyhf/pdf.py
  src/pyhf/readxml.py
  tests/test_init.py
  tests/test_modifiers.py
  tests/test_optim.py
  validation/manualonoff_roofit/onoff.py
Labels: CI, chore

#1197 test: Verify NLL values and Minuit parameter uncertainties
  tests/test_optim.py
Labels: refactor, tests

#1200 fix: Use uproot3-methods with uproot3
  src/pyhf/writexml.py
Labels: fix

#1194 chore: Specify exceptions to remove inline ignores of E722
  src/pyhf/pdf.py
  tests/test_init.py
Labels: chore

#1201 docs: Correct spelling of continuous
  src/pyhf/tensor/jax_backend.py
  src/pyhf/tensor/numpy_backend.py
  src/pyhf/tensor/pytorch_backend.py
  src/pyhf/tensor/tensorflow_backend.py
  tests/test_tensor.py
Labels: docs, style

#1202 feat: Use iminuit v1.5.X API
  setup.py
  src/pyhf/optimize/opt_minuit.py
  tests/test_optim.py
Labels: feat/enhancement
