Repository scikit-hep/pyhf, pull requests merged in 2021-07, with the labels that each got.

#1512 docs: Add release notes URL to PyPI project urls metadata
  setup.cfg
Labels: docs

#1518 docs: Update citation for 'Charged Lepton Flavor Violation at the EIC' paper
  docs/bib/use_citations.bib
  docs/contributors.rst
Labels: docs

#1521 test: Remove tests of deprecated simplemodels.hepdata_like API
  .github/workflows/ci.yml
  .github/workflows/dependencies-head.yml
  .github/workflows/lower-bound-requirements.yml
  tests/test_public_api.py
  tests/test_simplemodels.py
Labels: CI, tests

#1524 fix: Unrestrict jaxlib upper bound and exclude jaxlib v0.1.68
  setup.py
Labels: build, fix, revert

#1532 test: Temporarily move to testing against SciPy pre-releases
  .github/workflows/dependencies-head.yml
Labels: fix, tests

#1533 fix: Use nightly SciPy wheels from Anaconda in HEAD of dependencies testing
  .github/workflows/dependencies-head.yml
Labels: fix, tests

#1536 feat: Propagate model parameter names to optimizers
  src/pyhf/optimize/mixins.py
  src/pyhf/optimize/opt_minuit.py
  src/pyhf/optimize/opt_scipy.py
  src/pyhf/pdf.py
  tests/test_optim.py
  tests/test_simplemodels.py
Labels: feat/enhancement, optimization, tests

#1415 docs: Add project origin summary
  docs/bib/docs.bib
  docs/faq.rst
Labels: docs

#1537 docs: Add citation from heavy neutral leptons neutrino oscillation model paper
  docs/bib/use_citations.bib
Labels: docs
