Repository scikit-hep/pyhf, pull requests merged in 2021-02, with the labels that each got.

#1283 docs: Redirect questions to GitHub Discussions
  CONTRIBUTING.md
  README.rst
  docs/conf.py
  docs/contributors.rst
  docs/faq.rst
Labels: docs

#1287 docs: Make docs badge link to latest stable version on ReadTheDocs
  README.rst
  docs/faq.rst
  setup.cfg
Labels: docs

#1288 docs: Add warning banners for dev versions on docs
  docs/_static/css/custom.css
  docs/_static/js/custom.js
  docs/conf.py
  docs/index.rst
Labels: docs

#1289 docs: Correct TestPyPI install instructions
  docs/development.rst
Labels: docs

#1290 docs: Make 'Statement of Need' explicit section in JOSS paper
  docs/JOSS/paper.md
Labels: docs

#1293 ci: Drop GESIS from Binder trigger
  .github/workflows/merged.yml
Labels: Binder, CI, chore

#1291 docs: Add JOSS paper to preferred citation and DOI Badge
  README.rst
  docs/citations.rst
  src/pyhf/data/citation.bib
  src/pyhf/utils.py
  tests/test_scripts.py
Labels: docs, tests

#1292 docs: Widen the content box of docs
  docs/_static/css/custom.css
Labels: docs

#1295 fix: Make wheel naming indicate wheels are not Python 2 compatible
  docs/contributors.rst
  setup.cfg
Labels: build, chore, fix, packaging

#1297 docs: Add use citation from MadAnalysis 5 workshop
  docs/bib/use_citations.bib
Labels: docs

#1299 ci: Update PyPI publish GitHub Action to v1.4.2
  .github/workflows/publish-package.yml
Labels: CI

#1300 docs: Add syntax highlighting for bash snippets
  CONTRIBUTING.md
Labels: docs

#1302 build: Update minimum required tqdm release to avoid repr crash
  setup.cfg
Labels: build

#1272 build: Drop support for Python 3.6
  .github/workflows/ci.yml
  .github/workflows/release_tests.yml
  .pre-commit-config.yaml
  codemeta.json
  pyproject.toml
  setup.cfg
  tests/test_optim.py
  tests/test_scripts.py
Labels: build

#1307 fix: Restrict iminuit to compatible releases below 2.4.0
  setup.py
Labels: fix

#1304 docs: Add release notes to website
  docs/index.rst
  docs/release-notes.rst
  docs/release-notes/v0.5.3.rst
  docs/release-notes/v0.5.4.rst
Labels: docs

#993 feat: Add kwarg for AsymptoticCalculator base distribution
  src/pyhf/infer/calculators.py
  tests/test_infer.py
Labels: docs, feat/enhancement, tests

#1311 fix: Make p-value-like values 0-d tensors
  src/pyhf/infer/calculators.py
  src/pyhf/infer/utils.py
Labels: docs, fix

#1312 docs: Update API in notebooks to v0.6.0
  docs/examples/notebooks/ShapeFactor.ipynb
  docs/examples/notebooks/binderexample/StatisticalAnalysis.ipynb
  docs/examples/notebooks/learn/TestStatistics.ipynb
  docs/examples/notebooks/multiBinPois.ipynb
Labels: docs

#1314 docs: Add v0.6.0 release notes
  docs/governance/ROADMAP.rst
  docs/release-notes.rst
  docs/release-notes/v0.5.3.rst
  docs/release-notes/v0.6.0.rst
Labels: bumpversion/minor, docs

#1316 docs: Correct typos in v0.6.0 release notes
  docs/release-notes/v0.6.0.rst
Labels: docs

#1318 chore: Update codemeta to include v0.6.0 software requirements
  codemeta.json
Labels: chore, docs

#1317 docs: Add dropping of Python 3.6 support to v0.6.0 release notes
  docs/release-notes/v0.6.0.rst
Labels: docs

#1322 docs: Use more flexible BibTeX syntax for Zenodo DOI
  src/pyhf/data/citation.bib
  src/pyhf/utils.py
Labels: docs

#1323 docs: Update Zenodo BibTeX author field in citation in docs
  README.rst
  docs/release-notes/v0.6.0.rst
Labels: docs

#1324 docs: Add CPython implementation and Python 3 only metadata
  setup.cfg
Labels: docs

#1329 docs: Add use citations for QCD instantons and charged lepton flavor violation
  docs/bib/use_citations.bib
Labels: docs

#1325 chore: Apply minor code quality revisions
  src/pyhf/modifiers/__init__.py
  src/pyhf/pdf.py
  src/pyhf/readxml.py
Labels: chore

#1330 docs: Update ATLAS 3G tt 2L citation
  docs/bib/use_citations.bib
Labels: docs

#1331 docs: Fix typo in Using Calculator learn notebook
  docs/examples/notebooks/learn/UsingCalculators.ipynb
Labels: docs

#1332 docs: Update CONTRIBUTING.md to disincentivize 'drive by PRs'
  CONTRIBUTING.md
Labels: community, docs

#1338 docs: Drop modifierclass and improve autosummary
  docs/_templates/autosummary/class.rst
  docs/api.rst
  src/pyhf/optimize/opt_minuit.py
  src/pyhf/optimize/opt_scipy.py
Labels: docs

#1337 feat: Solver options for scipy
  src/pyhf/optimize/opt_scipy.py
  tests/test_optim.py
Labels: API, optimization, tests

#1340 docs: Add use citation for wino and higgsino dark matter at muon collider
  docs/bib/use_citations.bib
Labels: docs
