Repository scikit-hep/pyhf, pull requests merged in 2021-06, with the labels that each got.

#1480 chore: Use _version.py to follow setuptools_scm recommendations
  .gitignore
  pyproject.toml
  src/pyhf/__init__.py
Labels: chore, packaging

#1484 chore: Add default virtual environment on PATH for Docker image
  .github/workflows/lint.yml
  docker/Dockerfile
Labels: CI, Docker, chore

#1483 docs: Add use citation from ATLAS SUSY 3L+compressed combination paper
  docs/bib/use_citations.bib
Labels: docs

#1487 chore: Use tmpdir fixture over datadir in pyhf contrib download tests
  tests/test_scripts.py
Labels: chore, tests

#1488 feat: Allow strings in patch values for patchset
  src/pyhf/schemas/1.0.0/defs.json
  tests/test_patchset.py
  tests/test_patchset/patchset_bad_wrong_valuetype.json
  tests/test_patchset/patchset_good_stringvalues.json
Labels: feat/enhancement, schema and spec, tests

#1490 chore: Update pre-commit hooks versions and run order
  .pre-commit-config.yaml
  src/pyhf/infer/calculators.py
  src/pyhf/interpolators/code4.py
  src/pyhf/parameters/paramview.py
  src/pyhf/workspace.py
  tests/test_constraints.py
Labels: chore

#1492 ci: Remove distribution options to enable default build v0.5.0 behavior
  .github/workflows/publish-package.yml
Labels: CI

#1496 docs: Add squarks and gluinos search statistical model record
  docs/bib/HEPData_likelihoods.bib
  docs/citations.rst
Labels: docs

#1497 docs: Improve badge layout and fix broken Docker badge
  README.rst
Labels: docs, fix

#1493 docs: Add developer release checklist Issue template
  .github/ISSUE_TEMPLATE/~release-checklist.md
  docs/development.rst
Labels: docs

#1495 docs: Add v0.6.2 release notes
  docs/release-notes.rst
  docs/release-notes/v0.6.2.rst
Labels: docs

#1498 chore: Update codemeta softwareRequirements to match setup.cfg
  codemeta.json
Labels: bumpversion/patch, chore

#1504 test: Remove 32b test_minimize tests from optim tests
  tests/test_optim.py
Labels: tests
