Repository scikit-hep/pyhf, pull requests merged in 2021-09, with the labels that each got.

#1001 fix: Ensure TensorFlow backend Poisson compatibility with other backends
  setup.py
  src/pyhf/tensor/tensorflow_backend.py
  tests/test_tensor.py
Labels: fix, build

#1574 feat: Add support for Python 3.9 across all backends
  .github/workflows/ci.yml
  .github/workflows/dependencies-head.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/notebooks.yml
  .github/workflows/publish-package.yml
  .github/workflows/tag.yml
  codemeta.json
  docker/Dockerfile
  setup.cfg
Labels: feat/enhancement, CI, build, Docker

#1576 docs: Use GitHub Issue forms as Issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation-report.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/~release-checklist.md
Labels: docs, community

#1582 docs: Fix links to existing issues for 'docs' and 'feat' labels
  .github/ISSUE_TEMPLATE/documentation-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: feat/enhancement, docs

#1584 docs: Update JAX backend poisson docstring to jax v0.2.20 returns
  src/pyhf/tensor/jax_backend.py
Labels: docs, fix

#1583 docs: Add v0.6.3 release notes
  README.rst
  docs/contributors.rst
  docs/release-notes.rst
  docs/release-notes/v0.6.3.rst
Labels: docs, bumpversion/patch

#1588 fix: Update notebooks to use `include_auxdata` kwarg for `pyhf.Workspace.data`
  docs/examples/notebooks/binderexample/StatisticalAnalysis.ipynb
Labels: docs, fix

#1589 ci: Skip doctest for 'Minimum supported dependencies' workflow
  .github/workflows/lower-bound-requirements.yml
Labels: CI

#1592 docs: Correct v0.6.3 release notes to note `pyhf.pdf._ModelConfig.channels` is a list
  docs/release-notes/v0.6.3.rst
Labels: docs, chore

#1596 ci: Add Python 3.9 to 'Current Release' workflow tests
  .github/workflows/release_tests.yml
Labels: CI

#1597 docs: Update maintainer release checklist with v0.6.3 notes
  .github/ISSUE_TEMPLATE/~release-checklist.md
Labels: docs

#1598 ci: Use `jupyter-black` pre-commit hook over `nbqa-black`
  .pre-commit-config.yaml
Labels: CI

#1600 docs: Add use citation from publishing statistical models white paper
  docs/bib/use_citations.bib
Labels: docs

#1601 docs: Add `uproot4` writing speedup to v0.6.3 release notes
  docs/release-notes/v0.6.3.rst
Labels: docs

#1604 docs: Add use citation from collider signatures of coannihilating dark matter paper
  docs/bib/use_citations.bib
Labels: docs

#1610 fix: Use MLEs of NPs to create sampling distributions in ToyCalculator
  docs/contributors.rst
  src/pyhf/infer/calculators.py
  src/pyhf/infer/utils.py
  tests/test_infer.py
  tests/test_validation.py
Labels: docs, tests, fix
