Repository scikit-hep/pyhf, pull requests merged in 2021-04, with the labels that each got.

#1388 fix: Stricter schema definitions for histosys and normsys
  src/pyhf/schemas/1.0.0/defs.json
  tests/test_schema.py
Labels: fix, schema and spec, tests

#1399 fix: Ensure tensorlib precision used throughout TensorFlow backend
  src/pyhf/tensor/tensorflow_backend.py
Labels: fix

#1400 refactor: Set default precision to 64b
  src/pyhf/__init__.py
  src/pyhf/tensor/pytorch_backend.py
  src/pyhf/tensor/tensorflow_backend.py
Labels: docs, refactor

#1409 fix: check POIs floating
  docs/api.rst
  src/pyhf/infer/__init__.py
  src/pyhf/infer/utils.py
  tests/test_infer.py
Labels: docs, fix, tests

#1412 feat: `pyhf patchset inspect`
  src/pyhf/cli/patchset.py
  tests/test_scripts.py
Labels: API, feat/enhancement

#1416 docs: Add use citation from single leptoquark B-physics anomalies paper
  docs/bib/use_citations.bib
Labels: docs

#1417 chore: Update Black to release v21.4b0
  .pre-commit-config.yaml
  src/pyhf/patchset.py
Labels: chore

#1418 chore: Update Black to release v21.4b1
  .pre-commit-config.yaml
Labels: chore

#1377 feat: Add CLs component plotting kwargs to contrib.viz.brazil.plot_results
  README.rst
  docs/_static/img/README_1bin_example.png
  docs/_static/img/README_2bin_example.png
  docs/conf.py
  docs/examples/notebooks/Recast.ipynb
  docs/examples/notebooks/ShapeFactor.ipynb
  docs/examples/notebooks/binderexample/StatisticalAnalysis.ipynb
  docs/examples/notebooks/multiBinPois.ipynb
  setup.py
  src/pyhf/contrib/viz/brazil.py
  tests/contrib/baseline/test_brazil.png
  tests/contrib/baseline/test_plot_results.png
  tests/contrib/baseline/test_plot_results_components.png
  tests/contrib/baseline/test_plot_results_components_no_clb.png
  tests/contrib/baseline/test_plot_results_components_no_cls.png
  tests/contrib/baseline/test_plot_results_components_no_clsb.png
  tests/contrib/baseline/test_plot_results_no_axis.png
  tests/contrib/test_viz.py
  tests/contrib/test_viz/hypotest_results.json
  tests/contrib/test_viz/tail_probs_hypotest_results.json
  validation/run_toys.py
Labels: API, contrib, docs, feat/enhancement, tests, visualization

#1421 docs: Add use citation from Belle II B⁺→ K⁺νν̅ decays search paper
  docs/bib/use_citations.bib
Labels: docs

#1419 docs: Add utils.citation to Python API docs
  docs/api.rst
  src/pyhf/utils.py
Labels: docs

#1424 docs: Update software citation URL to Zenodo DOI
  README.rst
  docs/release-notes/v0.6.0.rst
  src/pyhf/data/citation.bib
  src/pyhf/utils.py
Labels: docs

#1420 docs: Add docstrings to _ModelConfig methods
  src/pyhf/pdf.py
Labels: docs

#1403 chore: Use module level __dir__ to restrict public API views
  src/pyhf/__init__.py
  src/pyhf/cli/__init__.py
  src/pyhf/constraints.py
  src/pyhf/contrib/cli.py
  src/pyhf/contrib/utils.py
  src/pyhf/contrib/viz/brazil.py
  src/pyhf/events.py
  src/pyhf/exceptions/__init__.py
  src/pyhf/infer/__init__.py
  src/pyhf/infer/calculators.py
  src/pyhf/infer/intervals.py
  src/pyhf/infer/mle.py
  src/pyhf/infer/test_statistics.py
  src/pyhf/infer/utils.py
  src/pyhf/interpolators/__init__.py
  src/pyhf/modifiers/__init__.py
  src/pyhf/parameters/__init__.py
  src/pyhf/parameters/paramsets.py
  src/pyhf/parameters/paramview.py
  src/pyhf/parameters/utils.py
  src/pyhf/patchset.py
  src/pyhf/pdf.py
  src/pyhf/probability.py
  src/pyhf/readxml.py
  src/pyhf/simplemodels.py
  src/pyhf/utils.py
  src/pyhf/workspace.py
  src/pyhf/writexml.py
  tests/test_public_api_repr.py
Labels: API, feat/enhancement
