Repository scikit-hep/pyhf, pull requests merged in 2021-05, with the labels that each got.

#1429 docs: Add CERN Courier article to media listing
  docs/bib/media.bib
Labels: docs

#1432 ci: Add custom commit message for pre-commit.ci autoupdate
  .pre-commit-config.yaml
  docs/examples/notebooks/binderexample/StatisticalAnalysis.ipynb
Labels: CI, chore

#1436 fix: Remove trailing spaces in parameter names
  src/pyhf/readxml.py
  tests/test_import.py
Labels: fix, tests

#1441 ci: Update Docker workflow to build-push-action v2
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/publish-docker.yml
  docker/Dockerfile
Labels: CI

#1442 fix: Remove load option from Docker workflow publish steps
  .github/workflows/docker.yml
Labels: CI, Docker, fix

#1438 refactor: Deprecate simplemodels.hepdata_like API for uncorrelated_background
  README.rst
  docs/api.rst
  docs/examples/notebooks/Recast.ipynb
  docs/examples/notebooks/StatError.ipynb
  docs/examples/notebooks/altair.ipynb
  docs/examples/notebooks/example-tensorflow.ipynb
  docs/examples/notebooks/hello-world.ipynb
  docs/examples/notebooks/histosys-pytorch.ipynb
  docs/examples/notebooks/learn/TestStatistics.ipynb
  docs/examples/notebooks/learn/UsingCalculators.ipynb
  docs/examples/notebooks/multiBinPois.ipynb
  docs/examples/notebooks/tensorflow-limit.ipynb
  docs/examples/notebooks/toys.ipynb
  src/pyhf/contrib/viz/brazil.py
  src/pyhf/infer/__init__.py
  src/pyhf/infer/calculators.py
  src/pyhf/infer/intervals.py
  src/pyhf/infer/mle.py
  src/pyhf/infer/test_statistics.py
  src/pyhf/infer/utils.py
  src/pyhf/pdf.py
  src/pyhf/simplemodels.py
  tests/benchmarks/test_benchmark.py
  tests/test_infer.py
  tests/test_jit.py
  tests/test_optim.py
  tests/test_pdf.py
  tests/test_public_api.py
  tests/test_public_api_repr.py
  tests/test_simplemodels.py
  tests/test_tensor.py
  tests/test_teststats.py
  tests/test_toys.py
  tests/test_validation.py
  tests/test_workspace.py
Labels: API, refactor

#1440 ci: Set pre-commit.ci autoupdate schedule to monthly
  .pre-commit-config.yaml
Labels: CI, chore

#1449 build: Revise MANIFEST.in strategy to properly use prune
  .github/workflows/publish-package.yml
  MANIFEST.in
Labels: CI, build

#1457 fix: Update to mathjax3_config to support math rendering in Sphinx v4.x+
  docs/conf.py
  setup.py
Labels: docs, fix

#1453 chore: Trial pip in-tree-build before release in pip 21.3
  .github/workflows/ci.yml
  .github/workflows/dependencies-head.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/lower-bound-requirements.yml
  .github/workflows/notebooks.yml
  CONTRIBUTING.md
  docs/development.rst
  docs/installation.rst
Labels: CI, chore, docs

#1463 ci: Don't login to Docker container registries on PRs
  .github/workflows/docker.yml
Labels: CI, Docker, fix

#1460 fix: Do not configure logging in contrib.utils
  src/pyhf/contrib/utils.py
Labels: fix

#1450 chore: Use newer setuptools_scm for versioning
  .bumpversion.cfg
  .github/workflows/ci.yml
  .github/workflows/dependencies-head.yml
  .github/workflows/docker.yml
  .github/workflows/lower-bound-requirements.yml
  .gitignore
  docs/conf.py
  pyproject.toml
  setup.cfg
  src/pyhf/__init__.py
  src/pyhf/cli/cli.py
  src/pyhf/version.py
  tests/test_public_api.py
Labels: chore, feat/enhancement, packaging

#1475 docs: Add use citation from Belle II in Moriond EW 2021 contribution
  docs/bib/use_citations.bib
Labels: docs

#1479 feat: Add 'contrib' extra to Docker images
  docker/Dockerfile
  docker/gpu/Dockerfile
Labels: Docker, contrib, feat/enhancement
