Repository scikit-hep/pyhf, pull requests merged in 2021-12, with the labels that each got.

#1721 docs: Fix download method of probability models archive in impact plot notebook
  docs/examples/notebooks/ImpactPlot.ipynb
  tests/test_notebooks.py
Labels: docs, tests, fix

#1724 docs: Fix download method of probability models archive in pull plot notebook
  docs/examples/notebooks/pullplot.ipynb
  tests/test_notebooks.py
Labels: docs, tests, fix

#1710 feat: Allow skipping validation when constructing workspaces
  src/pyhf/pdf.py
  src/pyhf/workspace.py
  tests/test_workspace.py
Labels: feat/enhancement, docs, tests

#1730 test: Make fail_backend markers add pytest.mark.xfail and remove fail_jax marker on percentile tests
  pyproject.toml
  src/pyhf/tensor/jax_backend.py
  tests/conftest.py
  tests/test_tensor.py
Labels: docs, tests, fix

#1727 ci: Publish to TestPyPI on tag or by workflow dispatch trigger
  .github/workflows/publish-package.yml
  docs/development.rst
Labels: docs, CI

#1726 docs: Truncate floating point docstring examples to 8 decimal places
  README.rst
  src/pyhf/infer/calculators.py
  src/pyhf/probability.py
  src/pyhf/tensor/numpy_backend.py
  src/pyhf/tensor/tensorflow_backend.py
Labels: docs, tests

#1733 docs: Add GitHub Release Radar check to release checklist
  .github/ISSUE_TEMPLATE/~release-checklist.md
Labels: docs

#1738 docs: Update citation references publication status
  docs/bib/general_citations.bib
  docs/bib/use_citations.bib
Labels: docs

#1739 docs: Add milestone for 1000 project commits to README
  README.rst
Labels: docs
