Repository scikit-hep/pyhf, pull requests merged in 2021-08, with the labels that each got.

#1540 docs: Separate citations into 'use' and 'general'
  docs/bib/general_citations.bib
  docs/bib/use_citations.bib
  docs/citations.rst
  docs/conf.py
Labels: docs

#1546 feat: Sort `_ChannelSummaryMixin.channel_nbins` by keys to match `channels` order
  src/pyhf/mixins.py
  tests/test_mixins.py
Labels: feat/enhancement, tests

#1539 refactor: Use absolute imports over explicit relative imports
  src/pyhf/__init__.py
  src/pyhf/cli/__init__.py
  src/pyhf/cli/cli.py
  src/pyhf/cli/infer.py
  src/pyhf/cli/patchset.py
  src/pyhf/cli/rootio.py
  src/pyhf/cli/spec.py
  src/pyhf/constraints.py
  src/pyhf/contrib/cli.py
  src/pyhf/contrib/utils.py
  src/pyhf/infer/__init__.py
  src/pyhf/infer/calculators.py
  src/pyhf/infer/intervals.py
  src/pyhf/infer/mle.py
  src/pyhf/infer/test_statistics.py
  src/pyhf/infer/utils.py
  src/pyhf/interpolators/__init__.py
  src/pyhf/interpolators/code0.py
  src/pyhf/interpolators/code1.py
  src/pyhf/interpolators/code2.py
  src/pyhf/interpolators/code4.py
  src/pyhf/interpolators/code4p.py
  src/pyhf/modifiers/__init__.py
  src/pyhf/modifiers/histosys.py
  src/pyhf/modifiers/lumi.py
  src/pyhf/modifiers/normfactor.py
  src/pyhf/modifiers/normsys.py
  src/pyhf/modifiers/shapefactor.py
  src/pyhf/modifiers/shapesys.py
  src/pyhf/modifiers/staterror.py
  src/pyhf/optimize/__init__.py
  src/pyhf/optimize/common.py
  src/pyhf/optimize/mixins.py
  src/pyhf/optimize/opt_jax.py
  src/pyhf/optimize/opt_minuit.py
  src/pyhf/optimize/opt_numpy.py
  src/pyhf/optimize/opt_pytorch.py
  src/pyhf/optimize/opt_scipy.py
  src/pyhf/optimize/opt_tflow.py
  src/pyhf/parameters/__init__.py
  src/pyhf/parameters/paramsets.py
  src/pyhf/parameters/paramview.py
  src/pyhf/parameters/utils.py
  src/pyhf/patchset.py
  src/pyhf/pdf.py
  src/pyhf/probability.py
  src/pyhf/readxml.py
  src/pyhf/simplemodels.py
  src/pyhf/tensor/__init__.py
  src/pyhf/tensor/common.py
  src/pyhf/utils.py
  src/pyhf/workspace.py
  src/pyhf/writexml.py
Labels: refactor

#1551 docs: Add `CITATION.cff` Citation File Format file
  .bumpversion.cfg
  .github/workflows/docs.yml
  CITATION.cff
  docs/outreach.rst
Labels: docs

#1552 chore: Define OS in base image tag of Dockerfile
  docker/Dockerfile
Labels: chore, Docker

#1530 fix: Remove WeakList in favor of built-ins
  src/pyhf/events.py
  tests/test_events.py
  tests/test_public_api_repr.py
Labels: fix

#1556 docs: Promote comments to docstring examples for pyhf.event
  src/pyhf/events.py
Labels: docs, chore

#1560 feat: par_names handles non-scalar modifiers with 1 parameter
  src/pyhf/pdf.py
  tests/test_optim.py
  tests/test_pdf.py
Labels: feat/enhancement, follow up, API, fix

#1567 feat: Drop uproot3 for uproot4 for writing ROOT files
  .github/workflows/dependencies-head.yml
  lower-bound-requirements.txt
  setup.py
  src/pyhf/writexml.py
  tests/test_export.py
Labels: feat/enhancement, tests, CI

#1572 docs: Add use citations from vCHEP 2021
  docs/bib/use_citations.bib
  docs/citations.rst
Labels: docs
