Repository scikit-hep/pyhf, pull requests merged in 2021-01, with the labels that each got.

#1208 feat: Use iminuit v2.0 API
  setup.py
  src/pyhf/optimize/opt_minuit.py
  tests/test_optim.py
Labels: Scikit-HEP, feat/enhancement

#1226 feat: Add to_numpy API to tensorlib
  docs/conf.py
  src/pyhf/tensor/jax_backend.py
  src/pyhf/tensor/numpy_backend.py
  src/pyhf/tensor/pytorch_backend.py
  src/pyhf/tensor/tensorflow_backend.py
  tests/test_tensor.py
Labels: API, docs, feat/enhancement, tests

#1002 build: Begin move to uproot4
  .github/workflows/dependencies-head.yml
  docs/conf.py
  setup.py
  src/pyhf/cli/rootio.py
  src/pyhf/readxml.py
  src/pyhf/writexml.py
  tests/test_export.py
  tests/test_import.py
Labels: build, refactor

#1242 docs: Add readxml and writexml
  .readthedocs.yml
  docs/_templates/autosummary/module.rst
  docs/api.rst
  setup.py
Labels: chore, docs

#1243 docs: Fix math mode syntax in contrib.viz.brazil.plot_results docstring
  src/pyhf/contrib/viz/brazil.py
Labels: docs, fix

#1245 docs: Fix data ordering bug in ShapeFactor
  docs/examples/notebooks/ShapeFactor.ipynb
Labels: chore, docs, fix

#1252 fix: Don't use exact assert for test_probability.py
  tests/test_probability.py
Labels: fix, tests

#1254 docs: Add talks and use citations from 2020
  .gitignore
  docs/bib/talks.bib
  docs/bib/use_citations.bib
Labels: docs

#1221 docs: Use sphinxcontrib-bibtex v2.1 and bibtex_bibfiles setting
  .readthedocs.yml
  docs/conf.py
  setup.py
Labels: CI, docs

#1257 docs: Build docs with sphinx-build via Sphinx Makefile
  .github/workflows/docs.yml
  setup.cfg
Labels: CI, docs

#1261 chore: Remove duplicated and unused dependencies
  setup.py
Labels: chore

#1258 docs: Add learn notebook on using calculators
  docs/Makefile
  docs/examples/notebooks/learn/UsingCalculators.ipynb
  tests/test_notebooks.py
Labels: docs, tests

#1263 docs: Add Symmetry Magazine article on likelihood publication
  docs/bib/media.bib
Labels: docs

#1232 feat: Add discovery p0 test statistic
  docs/api.rst
  src/pyhf/infer/__init__.py
  src/pyhf/infer/calculators.py
  src/pyhf/infer/test_statistics.py
  src/pyhf/infer/utils.py
  tests/test_infer.py
  tests/test_teststats.py
  tests/test_validation.py
  validation/data/1bin_example1_q0.json
  validation/multibin_histfactory_p0/config/HistFactorySchema.dtd
  validation/multibin_histfactory_p0/config/example.xml
  validation/multibin_histfactory_p0/config/example_channel.xml
  validation/multibin_histfactory_p0/data/data.root
  validation/multibin_histfactory_p0/results/example_GaussExample.root
  validation/multibin_histfactory_p0/results/example_channel1_GaussExample_model.root
  validation/multibin_histfactory_p0/results/example_combined_GaussExample_model.root
  validation/run_single_q0.py
Labels: API, feat/enhancement

#1162 fix: Report expected p-values based on their quantiles under background hypotheses
  README.rst
  docs/api.rst
  docs/examples/notebooks/learn/UsingCalculators.ipynb
  src/pyhf/infer/__init__.py
  src/pyhf/infer/calculators.py
  src/pyhf/infer/intervals.py
  tests/test_infer.py
  tests/test_validation.py
  validation/StandardHypoTestDemo.py
  validation/run_toys.py
  validation/xmlimport_input_bkg.json
Labels: API, docs, feat/enhancement, fix, tests

#1273 docs: Add commas to infer.mle.fixed_poi_fit docstring for clarity
  docs/contributors.rst
  src/pyhf/infer/mle.py
Labels: docs

#1089 docs: Add JOSS paper
  docs/JOSS/paper.bib
  docs/JOSS/paper.md
  docs/conf.py
  docs/governance/ROADMAP.rst
Labels: docs

#1276 ci: Add pre-commit hooks from pre-commit-hooks recommended by Scikit-HEP
  .pre-commit-config.yaml
Labels: CI, tests

#1281 fix: Model.spec should be self-consistent and reproducible
  src/pyhf/pdf.py
  tests/test_pdf.py
Labels: fix

#988 feat: Provide support for returning correlations from minuit
  docs/conf.py
  src/pyhf/optimize/mixins.py
  src/pyhf/optimize/opt_minuit.py
  src/pyhf/optimize/opt_scipy.py
  tests/test_optim.py
Labels: feat/enhancement, tests

#1280 docs: Explicitly give version number in JOSS paper
  docs/JOSS/paper.md
Labels: docs
