Repository scikit-hep/pyhf, pull requests merged in 2021-11, with the labels that each got.

#1673 refactor: Pass `Accept` header to requests in `contrib.utils.download`
  src/pyhf/contrib/utils.py
Labels: refactor, contrib

#1680 fix: Use https protocol as unauthenticated git protocol is no longer supported
  .github/workflows/dependencies-head.yml
Labels: CI, fix

#1681 docs: Add ATLAS top group probability model records through June 2021
  docs/bib/HEPData_likelihoods.bib
  docs/citations.rst
Labels: docs

#1682 docs: Add ATLAS third-generation scalar leptoquarks search statistical model record
  docs/bib/HEPData_likelihoods.bib
  docs/citations.rst
Labels: docs

#1691 fix: Speed-up readxml by caching key lookup instead of using try/except
  src/pyhf/readxml.py
  tests/test_import.py
  validation/xmlimport_input4/config/HistFactorySchema.dtd
  validation/xmlimport_input4/config/example.xml
  validation/xmlimport_input4/config/example_channel.xml
  validation/xmlimport_input4/data/example.root
Labels: optimization, fix, refactor, perf

#817 feat: Add percentile function to tensorlib
  src/pyhf/tensor/jax_backend.py
  src/pyhf/tensor/numpy_backend.py
  src/pyhf/tensor/pytorch_backend.py
  src/pyhf/tensor/tensorflow_backend.py
  tests/test_tensor.py
Labels: feat/enhancement, docs, tests, API

#1692 docs: only lists are accepted when specifying objects to prune
  src/pyhf/workspace.py
Labels: docs

#1696 feat: Add transpose function to tensorlib
  src/pyhf/tensor/jax_backend.py
  src/pyhf/tensor/numpy_backend.py
  src/pyhf/tensor/pytorch_backend.py
  src/pyhf/tensor/tensorflow_backend.py
  tests/test_tensor.py
Labels: feat/enhancement, docs, tests, API

#1138 refactor: Use jax.numpy for JAX backend tensorlib.tolist
  src/pyhf/tensor/jax_backend.py
Labels: refactor

#1694 refactor: Use tensorlib.percentile in calculators
  src/pyhf/infer/calculators.py
Labels: feat/enhancement, refactor

#1702 test: Use xfail for tests that fail for upstream problems
  pyproject.toml
  tests/test_tensor.py
Labels: tests

#1698 build: Set only lower bounds on backend dependencies
  setup.py
Labels: build

#1703 docs: Ensure docstring examples are contiguous
  src/pyhf/infer/calculators.py
  src/pyhf/infer/test_statistics.py
Labels: docs

#1697 refactor: Make contrib.utils.download robust to archive file types
  setup.py
  src/pyhf/contrib/utils.py
  src/pyhf/exceptions/__init__.py
  tests/contrib/test_utils.py
  tests/test_scripts.py
Labels: tests, refactor

#1704 fix: Accept tar and zip headers in contrib.utils.download requests
  src/pyhf/contrib/utils.py
Labels: fix, contrib

#1706 fix: Ensure `_ModelConfig.suggested_fixed` list contains only booleans for all modifiers
  src/pyhf/modifiers/staterror.py
  src/pyhf/parameters/paramsets.py
  src/pyhf/pdf.py
  tests/test_modifiers.py
Labels: tests, fix

#1707 ci: Quote GitHub Action python-version number as YAML strings
  .github/workflows/ci.yml
  .github/workflows/dependencies-head.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/lower-bound-requirements.yml
  .github/workflows/notebooks.yml
  .github/workflows/publish-package.yml
  .github/workflows/release_tests.yml
  .github/workflows/tag.yml
Labels: CI, chore

#1708 feat: Raise exception if bin-wise modifier data length doesn't match sample data
  src/pyhf/modifiers/histosys.py
  src/pyhf/modifiers/shapesys.py
  src/pyhf/modifiers/staterror.py
  tests/test_modifiers.py
  tests/test_modifiers/bad_histosys_modifier_patch.json
  tests/test_modifiers/bad_shapesys_modifier_patch.json
  tests/test_modifiers/bad_staterror_modifier_patch.json
  tests/test_modifiers/spec.json
Labels: feat/enhancement, tests

#1709 feat: Catch unexpected keyword arguments in workspace construction
  src/pyhf/workspace.py
  tests/test_workspace.py
Labels: feat/enhancement, tests

#1711 test: Use scikit-hep-testdata to provide probability models for regression tests
  setup.py
  tests/conftest.py
  tests/test_paramviewer.py
  tests/test_regression.py
Labels: tests, refactor

#1715 fix: Skip doctest of `pyhf.contrib.utils.download`
  src/pyhf/contrib/utils.py
Labels: docs, tests, fix

#1713 chore: Use constraints.txt for lower bound testing
  .github/workflows/lower-bound-requirements.yml
  .pre-commit-config.yaml
  tests/constraints.txt
Labels: chore
