Repository scikit-hep/pyhf, pull requests merged in 2022-03, with the labels that each got.

#1799 docs: Add general citation from MadJAX paper
  docs/bib/general_citations.bib
Labels: docs

#1800 docs: Add use citation from ATLAS UEH MS displaced jet paper
  docs/bib/use_citations.bib
Labels: docs

#1801 docs: Correct Giordon's affiliation to SCIPP in CITATON.cff
  CITATION.cff
Labels: docs, fix

#1802 docs: Add use citation from ATLAS UEH displaced jets CalRatio paper
  docs/bib/use_citations.bib
Labels: docs

#1803 docs: Fix tiny typo in MC Stat Error documentation
  docs/likelihood.rst
Labels: docs

#1808 ci: Add CPython 3.10 to testing
  .github/workflows/ci.yml
  .github/workflows/dependencies-head.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/notebooks.yml
  .github/workflows/publish-package.yml
  .github/workflows/release_tests.yml
  .github/workflows/tag.yml
Labels: tests, CI

#1809 build: Add support for Python 3.10 across all backends
  codemeta.json
  docker/Dockerfile
  setup.cfg
Labels: docs, build, Docker, packaging

#1812 docs: Add use citation from neos paper
  docs/bib/use_citations.bib
Labels: docs

#1813 docs: Update JAX backend normal docstring to jax v0.3.2 returns
  src/pyhf/tensor/jax_backend.py
Labels: docs, tests, fix

#1753 feat: Alternative Schema Locations
  docs/api.rst
  setup.cfg
  src/pyhf/__init__.py
  src/pyhf/exceptions/__init__.py
  src/pyhf/patchset.py
  src/pyhf/pdf.py
  src/pyhf/readxml.py
  src/pyhf/schema/__init__.py
  src/pyhf/schema/loader.py
  src/pyhf/schema/validator.py
  src/pyhf/schema/variables.py
  src/pyhf/utils.py
  src/pyhf/workspace.py
  src/pyhf/writexml.py
  tests/conftest.py
  tests/constraints.txt
  tests/contrib/test_contrib_utils.py
  tests/contrib/test_viz.py
  tests/test_export.py
  tests/test_modifiers.py
  tests/test_patchset.py
  tests/test_public_api_repr.py
  tests/test_schema.py
  tests/test_schema/customschema/1.1.0/defs.json
  tests/test_schema/customschema/1.1.0/jsonpatch.json
  tests/test_schema/customschema/1.1.0/measurement.json
  tests/test_schema/customschema/1.1.0/model.json
  tests/test_schema/customschema/1.1.0/patchset.json
  tests/test_schema/customschema/1.1.0/workspace.json
  tests/test_schema/customschema/custom.json
  tests/test_scripts.py
  tests/test_utils.py
  tests/test_workspace.py
Labels: feat/enhancement, docs, schema and spec, refactor

#1819 fix: writexml handles missing parameter configs for normfactor
  src/pyhf/writexml.py
  tests/test_export.py
  tests/test_export/workspace_no_parameter_bounds.json
  tests/test_export/workspace_no_parameter_inits.json
Labels: tests, fix

#1818 feat: Add contextlib support to pyhf.schema API
  src/pyhf/schema/__init__.py
  tests/test_public_api.py
  tests/test_schema.py
Labels: feat/enhancement, tests, API

#1821 test: Assert exported StatError has no name attribute
  src/pyhf/writexml.py
  tests/test_export.py
Labels: tests

#1824 fix: Disallow Jinja2 v3.1.0 to avoid nbsphinx triggering attribute error
  setup.py
Labels: docs, fix

#1820 docs: Add JupyterLite REPL for interactive pyhf in docs
  README.rst
  docs/conf.py
  docs/generate_jupyterlite_iframe.py
  docs/index.rst
  docs/jupyterlite.rst
  setup.py
  tbump.toml
Labels: docs

#1827 fix: bump black to 22.3.0 due to click 8.1 release
  .pre-commit-config.yaml
Labels: CI, fix

#1828 ci: Use actions/setup-python v3
  .github/workflows/ci.yml
  .github/workflows/dependencies-head.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/lower-bound-requirements.yml
  .github/workflows/notebooks.yml
  .github/workflows/publish-package.yml
  .github/workflows/release_tests.yml
  .github/workflows/tag.yml
Labels: CI, chore
