Repository scikit-hep/pyhf, pull requests merged in 2022-05, with the labels that each got.

#1860 ci: Update ReadTheDocs build to Ubuntu 22.04
  .readthedocs.yaml
Labels: docs, CI

#1861 docs: Add use citation from strange quark probe Snowmass paper
  docs/bib/use_citations.bib
Labels: docs

#1863 docs: Add use citation from ATLAS dE/dX long-lived particle paper
  docs/bib/use_citations.bib
Labels: docs

#1865 feat: Allow readxml to demote validation exception to warning
  src/pyhf/cli/rootio.py
  src/pyhf/readxml.py
  tests/test_import.py
Labels: feat/enhancement, API, user request, CLI

#1856 docs: Clarify staterror modifier specification
  docs/contributors.rst
  docs/likelihood.rst
Labels: docs

#1866 test: Ignore LHEP DOI URLs during Sphinx linkcheck
  docs/conf.py
  docs/governance/ROADMAP.rst
Labels: docs, tests, CI, fix

#1868 ci: Add semantic PR check GHA workflow
  .github/workflows/semantic-pr-check.yml
Labels: CI

#1870 test: Ignore EPJ Web of Conferences DOI URLs during Sphinx linkcheck
  docs/conf.py
Labels: docs, tests

#1869 test: Restrict tf dependency protobuf to ABI compatible releases
  tests/constraints.txt
Labels: tests, fix

#1874 build: Update lower bound on tensorflow to v2.6.5
  setup.py
  tests/constraints.txt
Labels: build

#1873 fix: Allow for true_divide or divide `RuntimeWarning` from NumPy
  pyproject.toml
Labels: tests, fix

#1875 docs: Set English as language for Sphinx
  docs/conf.py
Labels: docs, fix
