Repository scikit-hep/pyhf, pull requests merged in 2022-09, with the labels that each got.

#1979 build: Update lower bounds to jsonschema v4.15.0, importlib-resources v1.4.0
  setup.cfg
  tests/constraints.txt
Labels: fix, build

#1981 fix: Add PR number to Semantic PR Title Check concurrency group
  .github/workflows/semantic-pr-check.yml
Labels: CI, fix

#1858 feat: Promote `validate` kwarg to top-level functions in `pyhf.simplemodels`
  docs/contributors.rst
  src/pyhf/simplemodels.py
Labels: feat/enhancement, docs, API

#1971 docs: Clarify absolute/relative for histosys
  docs/likelihood.rst
Labels: docs

#1972 docs: Document Channel Summary Mixin
  docs/api.rst
  pyproject.toml
  src/pyhf/mixins.py
  src/pyhf/pdf.py
  tests/test_workspace.py
Labels: docs, tests, type checking

#1970 docs: Harmonize docstring for test_stat in ToyCalculator
  src/pyhf/infer/calculators.py
Labels: docs

#1985 feat: Add support for `_ModelConfig.set_poi(None)` to unset model POI
  src/pyhf/pdf.py
  tests/test_public_api.py
Labels: feat/enhancement, tests, API

#1977 fix: Add guards against shared shapesys paramsets
  src/pyhf/modifiers/histosys.py
  src/pyhf/modifiers/lumi.py
  src/pyhf/modifiers/normfactor.py
  src/pyhf/modifiers/normsys.py
  src/pyhf/modifiers/shapefactor.py
  src/pyhf/modifiers/shapesys.py
  src/pyhf/modifiers/staterror.py
  src/pyhf/pdf.py
  tests/test_custom_mods.py
  tests/test_pdf.py
Labels: tests, fix

#1963 feat: Add type hints for tensor manager
  pyproject.toml
  src/pyhf/events.py
  src/pyhf/tensor/manager.py
  src/pyhf/tensor/numpy_backend.py
  src/pyhf/typing.py
Labels: feat/enhancement, docs, type checking

#1974 fix: Form data through loop over channels for multichannel coupled histo notebook
  docs/examples/notebooks/multichannel-coupled-histo.ipynb
Labels: docs, fix

#1665 feat: Allow schema validation with tensor types
  docs/_templates/autosummary/class.rst
  src/pyhf/schema/loader.py
  src/pyhf/schema/validator.py
  src/pyhf/tensor/__init__.py
  src/pyhf/tensor/jax_backend.py
  src/pyhf/tensor/numpy_backend.py
  src/pyhf/tensor/pytorch_backend.py
  src/pyhf/tensor/tensorflow_backend.py
  src/pyhf/workspace.py
  tests/test_backends.py
  tests/test_schema.py
Labels: feat/enhancement, docs, schema and spec, fix

#1993 fix: Guard against nan in test stat calculation
  src/pyhf/infer/calculators.py
  src/pyhf/infer/test_statistics.py
  tests/test_infer.py
Labels: docs, tests, fix

#1995 fix: Pin codemetapy to v0.3.5 for `--no-extras` functionality
  .github/workflows/release_tests.yml
  codemeta.json
Labels: docs, CI, fix

#1996 ci: Install release candidates for 'current release' test workflow
  .github/workflows/release_tests.yml
Labels: CI

#1997 refactor: Use urllib.parse.urlsplit over urlparse
  src/pyhf/contrib/utils.py
Labels: refactor

#1998 docs: Add Binder Python runtime environment specification
  binder/runtime.txt
Labels: docs, Binder, chore

#2000 fix: Update codemeta lower bounds for jsonschema, importlib-resources
  codemeta.json
Labels: docs, fix

#2001 docs: Add milestone for 2000 project GitHub items
  README.rst
Labels: docs

#2002 fix: Use codemetapy v2.2.2+ API
  .github/workflows/release_tests.yml
  codemeta.json
Labels: CI, fix

#2005 fix: Add filterwarnings ignore for protobuf DeprecationWarning
  pyproject.toml
Labels: fix

#2007 fix: Specify encoding as utf-8 to enforce PEP 597
  .pre-commit-config.yaml
  docs/development.rst
  docs/examples/notebooks/ImpactPlot.ipynb
  docs/examples/notebooks/multiBinPois.ipynb
  docs/examples/notebooks/multichannel-coupled-histo.ipynb
  docs/examples/notebooks/pullplot.ipynb
  docs/likelihood.rst
  src/pyhf/cli/infer.py
  src/pyhf/cli/patchset.py
  src/pyhf/cli/rootio.py
  src/pyhf/cli/spec.py
  src/pyhf/schema/loader.py
  src/pyhf/writexml.py
  tests/conftest.py
  tests/contrib/test_contrib_utils.py
  tests/contrib/test_viz.py
  tests/test_export.py
  tests/test_modifiers.py
  tests/test_patchset.py
  tests/test_pdf.py
  tests/test_schema.py
  tests/test_scripts.py
  tests/test_validation.py
  tests/test_workspace.py
  validation/makedata.py
  validation/manualonoff_roofit/onoff.py
  validation/multichan_coupledhistosys_histfactory/makedata.py
  validation/multichan_coupledoverall_histfactory/makedata.py
  validation/multichannel_histfactory/makedata.py
  validation/run_toys.py
  validation/standard_hypo_test_demo.py
  validation/xmlimport_input2/makedata.py
Labels: tests, CI, fix

#1529 docs: Add FAQ on reasons for need to downgrade dependencies
  docs/faq.rst
Labels: docs

#2009 test: Update test_plot_results_no_axis baseline image
  tests/contrib/baseline/test_plot_results_no_axis.png
  tests/contrib/test_viz.py
Labels: tests, fix, visualization

#2011 fix: Use function scope to avoid altering hypotest_args fixture
  tests/test_infer.py
Labels: tests, fix

#2017 test: Discover pytest fixtures during doctest
  MANIFEST.in
  src/conftest.py
Labels: tests, fix

#1274 feat: Add autoscan for upper limit using TOMS Algorithm 748
  docs/api.rst
  docs/contributors.rst
  docs/examples/notebooks/ShapeFactor.ipynb
  docs/examples/notebooks/binderexample/StatisticalAnalysis.ipynb
  docs/examples/notebooks/multiBinPois.ipynb
  setup.cfg
  src/pyhf/infer/intervals.py
  src/pyhf/infer/intervals/__init__.py
  src/pyhf/infer/intervals/upper_limits.py
  tests/constraints.txt
  tests/test_infer.py
  tests/test_public_api_repr.py
Labels: feat/enhancement, docs, tests, API, dependencies

#2010 ci: Ignore Dependabot PRs to update tests/constraints.txt
  .github/dependabot.yml
Labels: CI, fix

#2020 docs: Remove requests install from JupyterLite REPL setup
  docs/generate_jupyterlite_iframe.py
  docs/jupyterlite.rst
Labels: docs

#2018 docs: Update list of statistical models for 2022
  docs/bib/HEPData_likelihoods.bib
Labels: docs

#2021 docs: Update release checklist notes for Conda-forge and LCG views
  .github/ISSUE_TEMPLATE/~release-checklist.md
Labels: docs

#2023 chore: Update codemeta.json for scipy lower bounds
  codemeta.json
Labels: docs, chore

#2025 docs: Add versionadded to new tensorlib methods
  src/pyhf/tensor/jax_backend.py
  src/pyhf/tensor/numpy_backend.py
  src/pyhf/tensor/pytorch_backend.py
  src/pyhf/tensor/tensorflow_backend.py
Labels: docs

#2026 docs: Update use citations and general citations to latest distribution
  docs/bib/general_citations.bib
  docs/bib/use_citations.bib
Labels: docs, chore

#2027 feat: Make `par_names` a _ModelConfig property attribute
  src/pyhf/optimize/mixins.py
  src/pyhf/pdf.py
  tests/test_optim.py
  tests/test_pdf.py
  tests/test_simplemodels.py
Labels: feat/enhancement, tests, API

#1705 docs: Add v0.7.0 release notes
  docs/conf.py
  docs/contributors.rst
  docs/release-notes.rst
  docs/release-notes/v0.7.0.rst
  src/pyhf/cli/rootio.py
Labels: docs

#2031 fix: Skip ReadTheDocs verions during Sphinx link check
  .readthedocs.yaml
  docs/conf.py
Labels: docs, fix

#2034 fix: Use `jax.errors` API as `jax._src` removed from public namespace
  tests/test_backends.py
Labels: tests, fix

#2036 perf: Remove instances of `.keys()` that are not needed
  src/pyhf/cli/spec.py
  src/pyhf/infer/intervals/upper_limits.py
  src/pyhf/modifiers/staterror.py
  src/pyhf/optimize/mixins.py
  src/pyhf/optimize/opt_minuit.py
  src/pyhf/optimize/opt_scipy.py
  src/pyhf/parameters/utils.py
  src/pyhf/pdf.py
  src/pyhf/tensor/jax_backend.py
  src/pyhf/tensor/numpy_backend.py
  src/pyhf/tensor/pytorch_backend.py
  src/pyhf/tensor/tensorflow_backend.py
  src/pyhf/workspace.py
  tests/test_import.py
  tests/test_mixins.py
  tests/test_scripts.py
Labels: optimization
