Repository scikit-hep/pyhf, pull requests merged in 2023-08, with the labels that each got.

#2271 docs: Require sphinx-rtd-theme compatible with Sphinx 7
  pyproject.toml
Labels: docs, fix, need-to-backport

#2270 chore: Use 2x faster black mirror
  .pre-commit-config.yaml
Labels: chore, pre-commit, need-to-backport

#2272 test: Ignore Belle2 Indico URL during Sphinx linkcheck
  docs/conf.py
Labels: docs, tests, need-to-backport

#2267 docs: Remove python.sytem_packages from ReadTheDocs config
  .readthedocs.yaml
Labels: docs, need-to-backport

#2276 test: Ignore CERN Twiki URLs during Sphinx linkcheck
  docs/conf.py
Labels: docs, tests, fix, need-to-backport

#2277 fix: Correct handling of strategy 0 for Minuit optimizer
  docs/contributors.rst
  src/pyhf/optimize/opt_minuit.py
  tests/test_optim.py
Labels: tests, fix, need-to-backport

#2279 ci(backport): Update GitHub Actions workflows
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/lower-bound-requirements.yml
  .github/workflows/publish-package.yml
Labels: CI, backport

#2278 fix: Guard Minuit optimizer against provided strategy of None
  src/pyhf/optimize/opt_minuit.py
  tests/test_optim.py
Labels: docs, tests, fix, need-to-backport

#2281 docs(backport): Update docs build requirements
  .readthedocs.yaml
  README.rst
  binder/postBuild
  docs/conf.py
  docs/examples.rst
  docs/examples/notebooks/binderexample/StatisticalAnalysis.ipynb
  pyproject.toml
Labels: docs, fix, backport

#2282 chore(backport): Move to using Ruff for pre-commit
  .flake8
  .pre-commit-config.yaml
  pyproject.toml
  src/pyhf/cli/spec.py
  src/pyhf/contrib/utils.py
  src/pyhf/contrib/viz/brazil.py
  src/pyhf/workspace.py
  tests/test_workspace.py
Labels: chore, backport

#2283 chore(backport): Update pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
Labels: chore, pre-commit, backport

#2284 fix(backport): Replace deprecated np.product by np.prod
  docs/examples/notebooks/pytorch_tests_onoff.ipynb
  src/pyhf/tensor/numpy_backend.py
Labels: fix, backport

#2285 docs(backport): Update use citations
  docs/bib/general_citations.bib
  docs/bib/use_citations.bib
Labels: docs, backport

#2286 docs(backport): Use SVG version of logo for docs
  README.rst
  docs/_static/img/pyhf-logo.svg
Labels: docs, backport

#2287 feat(backport): Use non-root default user for Docker image
  .dockerignore
  docker/Dockerfile
Labels: feat/enhancement, Docker, backport

#2288 fix(backport): Guard Minuit optimizer against provided strategy of None
  docs/contributors.rst
  src/pyhf/optimize/opt_minuit.py
  tests/test_optim.py
Labels: tests, fix, backport

#2290 docs: Add v0.7.3 release notes
  docs/release-notes.rst
  docs/release-notes/v0.7.3.rst
Labels: docs, need-to-forwardport

#2291 docs: Update release checklist
  .github/ISSUE_TEMPLATE/~release-checklist.md
Labels: docs

#2292 docs: Add ATLAS single-top-quark production observation statistical model record
  docs/bib/HEPData_likelihoods.bib
Labels: docs, need-to-backport

#2293 docs: Update citations references with journal pubs through 2023-07
  docs/bib/general_citations.bib
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2295 docs(backport): Update models and journal publication citations
  docs/bib/HEPData_likelihoods.bib
  docs/bib/general_citations.bib
  docs/bib/use_citations.bib
Labels: docs, backport

#2294 docs: Add v0.7.2 failing example to v0.7.3 release notes
  docs/release-notes/v0.7.3.rst
Labels: docs, need-to-forwardport

#2300 fix: Use Path object for jupyterlite-sphinx jupyterlite_dir config
  docs/conf.py
Labels: docs, fix, need-to-backport

#2301 docs: Add v0.7.3 release notes
  docs/release-notes.rst
  docs/release-notes/v0.7.3.rst
Labels: docs

#2305 chore: Update blackend-docs repo
  .pre-commit-config.yaml
Labels: chore, pre-commit, need-to-backport

#2308 test: Ignore World Scientific journal URLs during Sphinx linkcheck
  docs/conf.py
Labels: docs, tests, need-to-backport

#2309 chore: Require sphinx-rtd-theme of v1.3.0+
  pyproject.toml
Labels: docs, chore, need-to-backport
