Repository scikit-hep/pyhf, pull requests merged in 2023-05, with the labels that each got.

#2198 docs: Correct 'tensorflow' typo in v0.7.1 release notes
  docs/release-notes/v0.7.1.rst
Labels: docs, fix, need-to-backport

#2199 docs: Add use citation from Belle II lepton-flavor-violating decays paper
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2201 docs: Update citations references to include journal pubs through 2023-04
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2202 docs(backport): Add use citations through April 2023
  docs/bib/use_citations.bib
Labels: docs, backport

#2203 fix: Disallow TensorFlow Probability v0.20.0
  pyproject.toml
Labels: fix, build

#2204 ci(backport): Update CI workflows and use Trusted Publishers
  .github/workflows/merged.yml
  .github/workflows/publish-package.yml
  .pre-commit-config.yaml
Labels: CI, backport

#2205 docs(backport): Use jupyterlite-sphinx to embed JupyterLite in docs
  .flake8
  .github/workflows/docs.yml
  docs/conf.py
  docs/generate_jupyterlite_iframe.py
  docs/jupyterlite.rst
  docs/lite/jupyter-lite.json
  docs/lite/jupyterlite.py
  docs/lite/jupytext.toml
  pyproject.toml
  tbump.toml
Labels: docs, backport

#2206 docs(backport): Add dev instructions and fix typos
  CONTRIBUTING.md
  binder/postBuild
  binder/runtime.txt
  docs/development.rst
  docs/examples/notebooks/learn/InterpolationCodes.ipynb
  docs/installation.rst
  docs/release-notes/v0.7.1.rst
  src/pyhf/cli/complete.py
  src/pyhf/cli/rootio.py
  src/pyhf/contrib/cli.py
  src/pyhf/contrib/utils.py
  tests/test_scripts.py
Labels: docs, backport

#2197 fix: Catch use of multi-component parameters as POI with error message
  src/pyhf/pdf.py
  tests/test_pdf.py
Labels: tests, fix, need-to-backport

#2208 fix: Add TYPE_CHECKING guard for numpy.typing
  pyproject.toml
  src/pyhf/tensor/numpy_backend.py
Labels: fix, type checking, need-to-backport

#2209 docs: Update release checklist
  .github/ISSUE_TEMPLATE/~release-checklist.md
  docs/development.rst
Labels: docs, need-to-backport

#2210 docs: Update talk list through May 2023
  docs/bib/talks.bib
  docs/bib/tutorials.bib
Labels: docs, fix, need-to-backport

#2211 docs(backport): Update talk list and release checklist
  .github/ISSUE_TEMPLATE/~release-checklist.md
  docs/bib/talks.bib
  docs/bib/tutorials.bib
  docs/development.rst
Labels: docs, fix, backport

#2212 fix(backport): Catch use of multi-component parameters as POI
  src/pyhf/pdf.py
  tests/test_pdf.py
Labels: fix, backport

#2213 fix(backport): Add TYPE_CHECKING guard for numpy.typing
  .coveragerc
  src/pyhf/tensor/numpy_backend.py
Labels: fix, type checking, backport

#2214 docs: Add v0.7.2 release notes
  docs/release-notes.rst
  docs/release-notes/v0.7.2.rst
Labels: docs

#2217 docs: Bump version: 0.7.1 → 0.7.2
  .zenodo.json
  CITATION.cff
  README.rst
  codemeta.json
  docs/lite/jupyterlite.py
  src/pyhf/data/citation.bib
  src/pyhf/utils.py
  tbump.toml
Labels: docs

#2218 docs: Add v0.7.2 release notes
  docs/release-notes.rst
  docs/release-notes/v0.7.2.rst
Labels: docs

#2221 fix: Pass script_runner commands as a single sequence
  pyproject.toml
  tests/test_examples.py
  tests/test_scripts.py
Labels: tests, fix, build, need-to-backport

#2220 fix: Add sphinx_rtd_theme to extensions
  docs/conf.py
Labels: docs, fix, need-to-backport

#2222 fix(backport): Pass script_runner commands as a single sequence
  pyproject.toml
  tests/test_examples.py
  tests/test_scripts.py
Labels: fix, build, backport

#2223 docs(backport): Add sphinx_rtd_theme to extensions
  docs/conf.py
Labels: docs, fix, backport

#2225 ci: Use scientific-python-nightly-wheels package index for dependency nightlies
  .github/workflows/dependencies-head.yml
Labels: CI, chore
