Repository scikit-hep/pyhf, pull requests merged in 2023-10, with the labels that each got.

#2344 revert: Remove disallow of TensorFlow v2.14.0
  pyproject.toml
Labels: revert

#2345 docs: Add use citations from CHEP 2023 proceedings preprints
  docs/bib/general_citations.bib
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2340 feat: Allow for disabling backend when running tests via pytest
  tests/conftest.py
Labels: feat/enhancement, tests, user request

#2349 docs: Add use citation from MicroBooNE heavy neutral leptons paper
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2355 docs: Add general use citation from differentiable vertex fitting paper
  docs/bib/general_citations.bib
Labels: docs, need-to-backport

#2356 docs: Add use citation from observable sim gen ML paper
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2354 docs: Add award number for second phase of IRIS-HEP
  README.rst
Labels: docs, need-to-backport

#2357 fix: Remove os-dependent pieces of schema validation
  src/pyhf/schema/validator.py
Labels: bug, schema and spec, fix, need-to-backport

#2359 chore(backport): Update GitHub Actions and pre-commit hooks
  .github/workflows/docker.yml
  .github/workflows/publish-package.yml
  .pre-commit-config.yaml
  docs/faq.rst
  docs/governance/ROADMAP.rst
  src/pyhf/contrib/viz/brazil.py
  src/pyhf/tensor/jax_backend.py
  src/pyhf/tensor/numpy_backend.py
  src/pyhf/tensor/pytorch_backend.py
  src/pyhf/tensor/tensorflow_backend.py
Labels: docs, chore, backport

#2360 docs(backport): Update citations and docs
  README.rst
  docs/bib/general_citations.bib
  docs/bib/use_citations.bib
Labels: docs, backport

#2361 fix(backport): Remove os-dependent pieces of schema validation
  src/pyhf/schema/validator.py
Labels: fix, backport

#2362 docs: Add v0.7.5 release notes
  docs/release-notes.rst
  docs/release-notes/v0.7.5.rst
Labels: docs, need-to-forwardport

#2363 ci: Add simplified CI for Windows
  .github/workflows/ci-windows.yml
  pyproject.toml
Labels: docs, CI

#2367 docs: Update citations references with journal pubs through 2023-10
  docs/bib/general_citations.bib
  docs/bib/use_citations.bib
Labels: docs

#2370 docs: Bump version: 0.7.4 → 0.7.5
  .zenodo.json
  CITATION.cff
  README.rst
  codemeta.json
  docs/lite/jupyterlite.py
  src/pyhf/data/citation.bib
  src/pyhf/utils.py
  tbump.toml
Labels: docs

#2371 docs: Add v0.7.5 release notes
  docs/release-notes.rst
  docs/release-notes/v0.7.5.rst
Labels: docs
