Repository scikit-hep/pyhf, pull requests merged in 2023-04, with the labels that each got.

#2155 fix: Set workflow output parameter with GITHUB_OUTPUT
  .github/workflows/bump-version.yml
  .github/workflows/docker.yml
Labels: CI, fix, chore

#2156 ci: Use GITHUB_REF_NAME environmental variable to set tag version
  .github/workflows/docker.yml
Labels: CI, chore

#2154 ci: Add workflow input for bump version branch
  .github/workflows/bump-version.yml
Labels: CI, deployment

#2157 ci(backport): Add workflow input for bump version branch
  .github/workflows/bump-version.yml
  .github/workflows/docker.yml
Labels: CI, fix, chore, backport

#2160 docs: Add use citation from vector-like leptons at a muon collider paper
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2162 test: Use pytest.raises match argument to check Error messages
  tests/test_import.py
  tests/test_optim.py
  tests/test_patchset.py
  tests/test_teststats.py
  tests/test_utils.py
  tests/test_workspace.py
Labels: tests, need-to-backport

#2109 fix: Raise error when converting xml workspaces without data
  src/pyhf/readxml.py
  tests/test_import.py
  tests/test_import/xmlimport_noChannelDataPaths/config/HistFactorySchema.dtd
  tests/test_import/xmlimport_noChannelDataPaths/config/example.xml
  tests/test_import/xmlimport_noChannelDataPaths/config/example_channel.xml
Labels: tests, fix, need-to-backport

#2163 chore(backport): Update pre-commit hooks and dependabot updates
  .github/workflows/publish-package.yml
  .pre-commit-config.yaml
  src/pyhf/modifiers/lumi.py
  src/pyhf/readxml.py
  tests/test_scripts.py
Labels: backport

#2164 docs(backport): Add use citations and general citations
  docs/bib/general_citations.bib
  docs/bib/use_citations.bib
Labels: backport

#2165 test(backport): Use pytest.raises match argument to check Error messages
  tests/test_import.py
  tests/test_optim.py
  tests/test_patchset.py
  tests/test_teststats.py
  tests/test_utils.py
  tests/test_workspace.py
Labels: tests, backport

#2166 fix(backport): Raise error when converting xml workspaces without data
  src/pyhf/readxml.py
  tests/test_import.py
  tests/test_import/xmlimport_noChannelDataPaths/config/HistFactorySchema.dtd
  tests/test_import/xmlimport_noChannelDataPaths/config/example.xml
  tests/test_import/xmlimport_noChannelDataPaths/config/example_channel.xml
Labels: fix, backport

#2168 docs: Add v0.7.1 release notes
  docs/release-notes.rst
  docs/release-notes/v0.7.0.rst
  docs/release-notes/v0.7.1.rst
Labels: docs

#2169 docs: Add ATLAS search for gluinos in multi-b final states statistical model record
  docs/bib/HEPData_likelihoods.bib
Labels: docs

#2170 docs(backport): Add ATLAS search for gluinos in multi-b final states statistical model record
  docs/bib/HEPData_likelihoods.bib
Labels: docs, backport

#2171 docs: Update use citations references to include journal publications
  docs/bib/use_citations.bib
Labels: docs

#2172 docs(backport): Update use citations references to include journal publications
  docs/bib/use_citations.bib
Labels: docs, backport

#2173 chore: Update codemeta
  .github/workflows/release_tests.yml
  codemeta.json
Labels: chore

#2175 docs: Bump version: 0.7.0 → 0.7.1
  .zenodo.json
  CITATION.cff
  README.rst
  codemeta.json
  docs/generate_jupyterlite_iframe.py
  docs/jupyterlite.rst
  src/pyhf/data/citation.bib
  src/pyhf/utils.py
  tbump.toml
Labels: docs

#2176 docs: Add v0.7.1 release notes
  docs/release-notes.rst
  docs/release-notes/v0.7.0.rst
  docs/release-notes/v0.7.1.rst
Labels: docs, fix

#2177 ci: Use gh-action-pypi-publish v1.7.0+ APIs
  .github/workflows/publish-package.yml
Labels: CI, fix

#2178 ci(backport): Use gh-action-pypi-publish v1.7.0+ APIs
  .github/workflows/publish-package.yml
Labels: CI, fix, backport

#2179 docs: Add NumFOCUS Affiliated Project to README
  README.rst
Labels: docs

#2180 docs(backport): Add NumFOCUS Affiliated Project to README
  README.rst
Labels: docs, backport

#2181 docs: Add use citation from IRIS-HEP AGC ACAT 2022 paper
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2183 ci: Use PyPI Trusted Publisher for publishing package
  .github/workflows/publish-package.yml
Labels: CI, deployment, github-actions, need-to-backport

#2186 docs: Use Plausible for page visit statistics
  docs/conf.py
Labels: docs, need-to-backport

#2188 docs(backport): Use Plausible for page visit statistics
  docs/conf.py
Labels: docs, backport

#2189 chore: Remove GKE mybinder build
  .github/workflows/merged.yml
Labels: Binder, chore, need-to-backport

#2187 docs: Use jupyterlite-sphinx to embed JupyterLite in docs
  .github/workflows/docs.yml
  docs/conf.py
  docs/generate_jupyterlite_iframe.py
  docs/jupyterlite.rst
  docs/lite/jupyter-lite.json
  docs/lite/jupyterlite.py
  docs/lite/jupytext.toml
  noxfile.py
  pyproject.toml
  tbump.toml
Labels: docs, build, need-to-backport

#2190 build: Remove sphinx-togglebutton from 'docs' extra
  docs/conf.py
  pyproject.toml
Labels: docs, build, need-to-backport

#2192 fix: Disallow sphinx-copybutton v0.5.1 to avoid output in copy
  pyproject.toml
Labels: docs, fix, build, need-to-backport
