Repository scikit-hep/pyhf, pull requests merged in 2023-07, with the labels that each got.

#2239 chore: target-version no longer needed by Black or Ruff
  pyproject.toml
Labels: chore, need-to-backport

#2238 chore: ruff moved to astral-sh
  .pre-commit-config.yaml
Labels: chore, need-to-backport

#2242 fix: Replace deprecated np.product by np.prod
  docs/examples/notebooks/pytorch_tests_onoff.ipynb
  src/pyhf/tensor/numpy_backend.py
Labels: docs, fix, need-to-backport

#2243 feat: Use non-root default user for Docker image
  .dockerignore
  docker/Dockerfile
Labels: feat/enhancement, Docker, need-to-backport

#2246 fix: Add filterwarnings ignore for jsonschema.RefResolver DeprecationWarning
  pyproject.toml
Labels: fix

#2245 docs: Add use citation from SModelS v2.3 paper
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2250 feat: Add devcontainer config
  .devcontainer/devcontainer.json
Labels: feat/enhancement, Docker, SciPy Conference, need-to-backport

#2252 docs: Update Binder to launch into JupyterLab environment
  README.rst
  binder/postBuild
  docs/examples.rst
  docs/examples/notebooks/binderexample/StatisticalAnalysis.ipynb
Labels: docs, Binder, need-to-backport

#2255 fix: Add ipympl to 'test' extra
  pyproject.toml
Labels: docs, tests, fix, need-to-backport

#2258 docs: Add use citation from Spey paper
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2259 docs: Add use citation from Gauge SU(2)f flavour paper
  docs/bib/use_citations.bib
Labels: docs, need-to-backport
