Repository scikit-hep/pyhf, pull requests merged in 2023-03, with the labels that each got.

#2126 docs: Add use citation from Anomalous Hadronic Higgs at the LHeC paper
  docs/bib/use_citations.bib
Labels: docs

#2127 docs: Add use citation from ATLAS displaced vertices and multiple jets paper
  docs/bib/use_citations.bib
Labels: docs

#2134 docs: Update JAX backend array_type to jaxlib.xla_extension.ArrayImpl
  src/pyhf/tensor/jax_backend.py
Labels: docs, fix

#2135 docs: Add matplotlib to piplite installs for JupyterLite example
  docs/generate_jupyterlite_iframe.py
  docs/jupyterlite.rst
Labels: docs, fix

#2124 chore: Move to using Ruff for pre-commit
  .flake8
  .pre-commit-config.yaml
  pyproject.toml
  src/pyhf/cli/spec.py
Labels: CI, chore

#2142 test: Remove xfail test for floating point agreement on macOS
  tests/test_tensor.py
Labels: tests, fix

#2144 fix: Use unittest.mock.patch.object to mock attributes
  tests/test_tensor.py
Labels: tests, fix

#2145 feat: Add Python 3.11 to testing and default to using it
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/dependencies-head.yml
  .github/workflows/docs.yml
  .github/workflows/notebooks.yml
  .github/workflows/publish-package.yml
  .github/workflows/release_tests.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  binder/runtime.txt
  codemeta.json
  docker/Dockerfile
  docs/development.rst
  noxfile.py
  pyproject.toml
Labels: feat/enhancement, docs

#2148 build(backport): Switch to using Hatchling as build backend
  .flake8
  .github/ISSUE_TEMPLATE/~release-checklist.md
  .github/workflows/publish-package.yml
  MANIFEST.in
  pyproject.toml
  setup.cfg
  setup.py
Labels: backport

#2149 ci: Run CI and packaging workflows on release branch PRs
  .github/workflows/ci.yml
  .github/workflows/publish-package.yml
Labels: CI, chore

#2151 ci: Run CI and packaging workflows on release branch PRs
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/publish-package.yml
  .github/workflows/semantic-pr-check.yml
  .readthedocs.yaml
  docker/Dockerfile
Labels: CI, backport

#2152 docs(backport): Update JAX backend docstring types to jax.Array
  src/pyhf/tensor/jax_backend.py
Labels: backport

#2153 docs: Add use citation from constraints on electroweakino dark matter paper
  docs/bib/use_citations.bib
Labels: docs
