Repository scikit-hep/pyhf, pull requests merged in 2023-09, with the labels that each got.

#2306 docs: Add use citation from H->aa ATLAS CONF note
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2312 docs: Add general use citation from 'Branches of a Tree' paper
  docs/bib/general_citations.bib
Labels: docs, need-to-backport

#2307 chore: Install pandoc manually from GitHub release binaries
  .github/workflows/docs.yml
Labels: docs, chore, need-to-backport

#2315 docs: Add use citation from extended SPANet paper
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2310 fix: Skip callbacks with dead weakrefs while iterating over callbacks
  docs/contributors.rst
  src/pyhf/events.py
Labels: fix

#2317 chore(backport): Update pre-commit hooks
  .pre-commit-config.yaml
  src/pyhf/parameters/paramsets.py
  src/pyhf/readxml.py
Labels: refactor, chore, pre-commit, backport

#2316 docs: Add MRs to ATLAS StatAnalysis to release checklist
  .github/ISSUE_TEMPLATE/~release-checklist.md
Labels: docs, need-to-backport

#2318 ci(backport): Update GitHub Actions
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependencies-head.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/lower-bound-requirements.yml
  .github/workflows/merged.yml
  .github/workflows/notebooks.yml
  .github/workflows/publish-package.yml
  .github/workflows/release_tests.yml
Labels: CI, backport

#2320 docs(backport): Update docs requirements and use citations
  .github/ISSUE_TEMPLATE/~release-checklist.md
  docs/bib/general_citations.bib
  docs/bib/use_citations.bib
  docs/conf.py
  pyproject.toml
Labels: docs, fix, build, backport

#2321 fix(backport): Skip callbacks with dead weakrefs while iterating over callbacks
  docs/contributors.rst
  src/pyhf/events.py
Labels: docs, fix, backport

#2322 docs: Add v0.7.4 release notes
  docs/release-notes.rst
  docs/release-notes/v0.7.4.rst
Labels: docs

#2323 docs: Update citations references with journal pubs through 2023-08
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2324 docs: Add ATLAS s-channel single top cross-section statistical model record
  docs/bib/HEPData_likelihoods.bib
Labels: docs

#2325 docs(backport): Update citations references and model records
  docs/bib/HEPData_likelihoods.bib
  docs/bib/use_citations.bib
Labels: docs, backport

#2330 docs: Add v0.7.4 release notes
  docs/release-notes.rst
  docs/release-notes/v0.7.4.rst
Labels: docs

#2331 docs: Bump version: 0.7.3 → 0.7.4
  .zenodo.json
  CITATION.cff
  README.rst
  codemeta.json
  docs/lite/jupyterlite.py
  src/pyhf/data/citation.bib
  src/pyhf/utils.py
  tbump.toml
Labels: docs

#2328 feat: Don't specify a default POI name
  src/pyhf/pdf.py
  src/pyhf/simplemodels.py
  tests/test_backend_consistency.py
  tests/test_optim.py
  tests/test_validation.py
Labels: feat/enhancement, docs, tests, API

#2337 ci: Move PYTHONWARNINGS filter on build to weekly cron job
  .github/workflows/publish-package.yml
Labels: CI, need-to-backport

#2336 fix: Add poi_name to Model construction in notebooks
  docs/examples/notebooks/ShapeFactor.ipynb
  docs/examples/notebooks/StatError.ipynb
  docs/examples/notebooks/histogrammar.ipynb
  docs/examples/notebooks/histosys.ipynb
  docs/examples/notebooks/multichannel-coupled-histo.ipynb
  docs/examples/notebooks/multichannel-coupled-normsys.ipynb
  docs/examples/notebooks/normsys.ipynb
Labels: docs, fix

#2339 feat: Promote modifications to public API
  docs/api.rst
  docs/examples/notebooks/binderexample/StatisticalAnalysis.ipynb
  src/pyhf/pdf.py
  tests/test_modifiers.py
  tests/test_pdf.py
Labels: feat/enhancement, docs, API

#2341 docs: Add use citation from dark matter at muon colliders paper
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2342 build: Disallow TensorFlow v2.14.0
  pyproject.toml
Labels: fix, build, need-to-backport
