Repository scikit-hep/pyhf, pull requests merged in 2024-09, with the labels that each got.

#2542 ci: Remove upgrade of wheel
  .github/workflows/bump-version.yml
  .github/workflows/ci-windows.yml
  .github/workflows/ci.yml
  .github/workflows/dependencies-head.yml
  .github/workflows/docs.yml
  .github/workflows/lower-bound-requirements.yml
  .github/workflows/notebooks.yml
  .github/workflows/release_tests.yml
  docker/Dockerfile
Labels: CI, Docker

#2543 chore: Apply Docker build check corrections
  docker/Dockerfile
  docker/gpu/Dockerfile
Labels: chore, Docker

#2544 chore(backport): Apply Docker build check corrections
  docker/Dockerfile
  docker/gpu/Dockerfile
Labels: chore, Docker, backport
