Repository scikit-hep/pyhf, pull requests merged in 2024-01, with the labels that each got.

#2413 ci: Group dependabot updates
  .github/dependabot.yml
Labels: CI, need-to-backport

#2411 fix: Correct variable assignment for limit band artists
  src/pyhf/contrib/viz/brazil.py
Labels: fix, contrib, visualization, need-to-backport

#2414 chore: Remove Mypy 'show_error_codes' as now default
  pyproject.toml
Labels: chore, type checking, need-to-backport

#2415 docs: Add use citation from global LHC constraints SModelS paper
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2416 docs: Add use citation from ML for columnar HEP paper
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2417 docs: Update GitHub Actions workflow status badge URLs
  README.rst
Labels: docs, chore, need-to-backport

#2418 docs: Update citations references with journal pubs through 2023-12
  docs/bib/use_citations.bib
Labels: docs, need-to-backport

#2421 ci(backport): Update GitHub Actions
  .github/dependabot.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependencies-head.yml
  .github/workflows/docs.yml
  .github/workflows/lower-bound-requirements.yml
  .github/workflows/notebooks.yml
  .github/workflows/publish-package.yml
  .github/workflows/release_tests.yml
Labels: CI, chore, backport

#2422 ci: Use --find-links to install jax and jaxlib on Python 3.7
  .github/workflows/ci.yml
Labels: CI, fix

#2423 fix(backport): Access jax.config from jax
  src/pyhf/tensor/jax_backend.py
Labels: fix, backport

#2424 chore(backport): Update pre-commit hooks
  .pre-commit-config.yaml
  docs/index.rst
  pyproject.toml
Labels: chore, backport

#2425 docs(backport): Update citations and README
  README.rst
  docs/bib/general_citations.bib
  docs/bib/use_citations.bib
Labels: docs, backport

#2426 feat(backport): Improve warnings for qmu and qmu_tilde for the set POI bounds
  docs/contributors.rst
  src/pyhf/infer/test_statistics.py
Labels: feat/enhancement, docs, backport

#2427 fix(backport): Correct variable assignment for limit band artists
  src/pyhf/contrib/viz/brazil.py
Labels: fix, backport

#2420 docs: Correct fixed_params type to tuple or list
  src/pyhf/infer/__init__.py
  src/pyhf/infer/calculators.py
  src/pyhf/infer/mle.py
  src/pyhf/infer/test_statistics.py
  src/pyhf/infer/utils.py
Labels: docs, fix, need-to-backport

#2428 docs(backport): Correct fixed_params type to tuple or list
  src/pyhf/infer/__init__.py
  src/pyhf/infer/calculators.py
  src/pyhf/infer/mle.py
  src/pyhf/infer/test_statistics.py
  src/pyhf/infer/utils.py
Labels: docs, backport

#2430 docs: Add v0.7.6 release notes
  docs/release-notes.rst
  docs/release-notes/v0.7.6.rst
Labels: docs, need-to-forwardport

#2433 docs: Bump version: 0.7.5 → 0.7.6
  .zenodo.json
  CITATION.cff
  README.rst
  codemeta.json
  docs/lite/jupyterlite.py
  src/pyhf/data/citation.bib
  src/pyhf/utils.py
  tbump.toml
Labels: docs

#2434 docs: Add v0.7.6 release notes
  docs/release-notes.rst
  docs/release-notes/v0.7.6.rst
Labels: docs

#2436 docs: Add use citation from inert triplet model paper
  docs/bib/use_citations.bib
Labels: docs, need-to-backport
