Repository scikit-hep/pyhf, pull requests merged in 2024-06, with the labels that each got.

#2511 build(backport): bump actions/attest-build-provenance from 1.1.2 to 1.2.0 in the actions group
  .github/workflows/publish-package.yml
Labels: dependencies, github-actions

#2514 test: Lower tolerance for iminuit v2.26.0+ on Apple silicon
  tests/test_optim.py
Labels: tests, fix, need-to-backport

#2515 test(backport): Lower tolerance for iminuit v2.26.0+ on Apple silicon
  tests/test_optim.py
Labels: tests, fix

#2513 docs: Change docs theme to PyData Sphinx theme
  docs/conf.py
  docs/contributors.rst
  docs/index.rst
  pyproject.toml
Labels: docs, build, need-to-backport

#2518 fix: Use shutil.copytree over setuptools._distutils
  tests/conftest.py
Labels: tests, fix

#2519 ci: Remove setuptools uprgrade as no longer backend
  .github/workflows/bump-version.yml
  .github/workflows/ci-windows.yml
  .github/workflows/ci.yml
  .github/workflows/dependencies-head.yml
  .github/workflows/docs.yml
  .github/workflows/notebooks.yml
  .github/workflows/release_tests.yml
  docker/Dockerfile
  docker/gpu/Dockerfile
Labels: CI, Docker

#2521 build(backport): bump the actions group with 3 updates
  .github/workflows/docker.yml
  .github/workflows/publish-package.yml
Labels: dependencies, github-actions

#2522 feat: Use 'method' arg for jax.numpy.percentile
  src/pyhf/tensor/jax_backend.py
Labels: feat/enhancement, need-to-backport

#2524 feat(backport): Use 'method' arg for jax.numpy.percentile
  src/pyhf/tensor/jax_backend.py
Labels: feat/enhancement, backport

#2523 fix: Add filterwarnings for jax.xla_computation DeprecationWarning
  pyproject.toml
Labels: fix
